<div class="span-8">
    <ul class="tabs">
        <li>
            <a href="/jobs/dc-northern-virgina/client-services-operations">Client Services &amp; Operations</a>
        </li>
        <li>
            <a href="/jobs/dc-northern-virgina/engineering">Engineering</a>
        </li>
        <li>
            <a href="/jobs/dc-northern-virgina/consumer-marketing-analysis">Consumer Marketing &amp; Analysis</a>
        </li>
        <li>
            <a href="/jobs/dc-northern-virgina/corporate-marketing-and-strategy">Corporate Marketing and Strategy</a>
        </li>
        <li>
            <a href="/jobs/dc-northern-virgina/sales-business-development">Sales/Business Development</a>
        </li>
        <li>
            <a href="/jobs/dc-northern-virgina/product-management">Product Management</a>
        </li>
        <li>
            <a href="/jobs/dc-northern-virgina/finance-hr-operations-recruiting-and-it">Finance, HR, Operations, Recruiting and IT</a>
        </li>
        <li>
            <a href="/jobs/dc-northern-virgina/business-development">Business Development</a>
        </li>
        <li>
            <a href="/jobs/dc-northern-virgina/recruiting">Recruiting</a>
        </li>
    </ul>
</div>
        
<div class="span-14 last">
    <div class="panes" style="height: 480px;">
        <div>
            <div class="strong">Client Services &amp; Operations</div>
            <p>The Mac Hardware Engineering team is looking for brilliant engineering minds to help design and develop our next generation of groundbreaking products.
                Specifically, we're seeking creative people with backgrounds in electrical, mechanical, and specialized engineering -
                as well as industrial design and quality assurance - to build sleek, powerful products like the MacBook, MacBook Air, Mac Pro, and iMac.</p>

            <p>Our ideal candidate creates products with the customer in mind, and always delivers on time.
                If you've got solid technical skills and a record of innovation, we want you.</p>

            <a href="/jobs/dc-northern-virgina/client-services-operations">See all Mac Hardware Engineering jobs</a>

            <p>What you can do</p>
            <ul>
                <li>Battery Technology</li>
                <li>CPU Software Engineering</li>
                <li>Display Engineering</li>
                <li>Electrical Engineering</li>
                <li>Mechanical Engineering</li>
                <li>Media Engineering</li>
                <li>Multi-Touch Engineering</li>
            </ul>
        </div>

        <div>Engineering</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
    </div>
</div>