<div class="content">
    <h2>The Engineering Culture at OPOWER</h2>
    <h3></h3>
    
    <div class="gallery space-bottom-small clearfix">
        <a href="/photos/engineering-qa.jpg" class="fancybox" title="" rel="engineering"><img src="/photos/engineering-qa-small.jpg" alt=""/></a>
    </div>
    
    <ul>
        <li>We&rsquo;re Agile, and we&rsquo;re built for flexibility.</li>
        <li>We believe in freedom of choice: we&rsquo;re platform and tool agnostic, and we use whatever we need to get the job done &mdash; Java, Spring, Scala, Ruby, jQuery, HTML5, CSS3, and more.</li>
        <li>We embrace open source and stay active in those communities.</li>
        <li>We are only wedded to what works.</li>
    </ul>

    <div class="gallery space-bottom-small clearfix">
        <a href="/photos/engineering-happy.jpg" class="fancybox" title="Some of us *really* like coding" rel="engineering"><img src="/photos/engineering-happy-small.jpg" alt=""/></a>
    </div>
    
    <ul>
        <li>We help one another, and we&rsquo;re all on the same team: product managers, UX, QA, and developers all collaborate in an open environment, so there is never any tossing over the wall.</li>
        <li>We self-organize and share context constantly.</li>
        <li>We&rsquo;re flexible about work schedules and location.</li>
        <li>We love dogs, scooters, plants, ping pong, organic milk, and laughter.</li>
        <li>We say what we need to get the job done &mdash; computers, operating systems, software, books, coffee beans &mdash; and we get it.</li>
    </ul>

    <div class="gallery space-bottom-small clearfix">
        <a href="/photos/engineering-raj.jpg" class="fancybox" title="And some of us *really* like meetings (very rare)" rel="engineering"><img src="/photos/engineering-raj-small.jpg" alt=""/></a>
    </div>
    
    <ul>
        <li>We spend most of the day doing what we like to do most: coding.</li>
        <li>We&rsquo;re always shipping &mdash; short iterations let us get new features out fast, and let us reform our process regularly.</li>
        <li>We learn from each other every day: we mentor junior engineers and critique each other&rsquo;s code in weekly reviews.</li>
        <li>We have Innovation Days in our roadmap, so we can focus on side projects.</li>
        <li>We&rsquo;re fun to be around, and we buy each other drinks when we break the build.</li>
        <li>We&rsquo;re the best team of software engineers any of us has had the good luck to work with.</li>
        <li>We push ourselves hard to be better engineers, and we love what we do.</li>
    </ul>
    
    
    <div class="gallery space-bottom-small clearfix">
        <a href="/photos/engineering-swarm.jpg" class="fancybox" title="Space Invaders and swarms" rel="engineering"><img src="/photos/engineering-swarm-small.jpg" alt=""/></a>
        <a href="/photos/engineering-standUp.jpg" class="fancybox" title="Standing desk face-off in full effect" rel="engineering"></a>
    </div>
    
</div>