<div class="content">
    <h2>Interviewing</h2>
    <h3>Getting There</h3>

    <div class="clearfix"></div>

    <h4><span class="highlight">What is the application process at OPOWER like?</span></h4>

    <p>Every resume or CV we receive is carefully reviewed by our Recruiting team.</p>
    <p>If our recruiters and managers find your resume suitable for the role for which you've applied, you'll typically be asked to participate in a telephone screening, which will focus on your interest in the role and previous work experience. If that conversation goes well, you'll either be asked to complete a homework assessment, or invited to participate in a telephone interview with the manager who is pursuing the hire. The final part of the process is an series of interviews in our offices (either in Washington or San Francisco), where you'll meet with four or five carefully selected OPOWER employees for about 30-45 minutes each.</p>
    <p>Our application process is designed to be rigorous for the level you're applying for, and to give you a feel for what it's like to work with us at OPOWER. All phone and in-person interviews include time for you to ask us questions as well. If you're coming to meet us from far away, we'll make all of the travel arrangements for you.</p>


    <h4><span class="highlight">How should I prepare for my interview with OPOWER?</span></h4>

    <p>We expect you to do research about what we do as a company before talking to us. Your interview will allow us to evaluate your understanding of our business, competitors, products, and company culture. Ways to prepare include reading this website (good start!), our corporate website (opower.com), industry press, our developers' blog (heyitsopower.com), and books and papers on the state of the energy industry.</p>

    <h4><span class="highlight">Why do I need to do a homework assessment before speaking with the manager who's hiring?</span></h4>

    <p>While we're a warm and friendly place to work, getting a job at OPOWER is extremely competitive. As we continue to grow in size and notoriety, we get greater numbers of applicants for our open positions. So, we use homework assessments to help us identify the most highly skilled candidates among the many applicants for each position.</p>

    <h4><span class="highlight">What should I wear to my interview?</span></h4>

    <p>We're a casual work environment. You should wear what you feel comfortable wearing to work.</p>

    <h4><span class="highlight">If I'm rejected for a particular opening, what are the chances of my being considered for others? How can I stay on OPOWER's radar?</span></h4>

    <p>If your application for a particular opening is declined, it simply means we felt you weren't the right fit for that role. We encourage people to apply for other positions for which they're highly qualified; you can look for these at opowerjobs.com, as well as follow us on Facebook and Twitter.</p>

    <h4><span class="highlight">If I'm offered a position, what is the pre-employment screening process?</span></h4>

    <p>All candidates with offers go through standard background and reference verifications.</p>


</div>