<div class="content">

    <h2>Our goal is to become the world’s first global energy-efficiency company</h2>
    <h3>And we’re well on our way to achieving it!</h3>

    <div class="large-text space-bottom">

        <p>We signed our first client in 2007 while sitting at a rented desk in San Francisco. Since then, we’ve grown into a well-capitalized business serving 50 utilities—including 8 of the US’s 10 largest. Our product now reaches nearly 10 million homes in North America.</p>

        <p>Together with our clients and their customers, we’re saving energy, saving them money, and directly helping to reduce global carbon emissions. And our positive impact increases every single day. </p>
    
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    
    <h4><span class="highlight">Our Past</span></h4>

    <p>OPOWER founders Dan Yates and Alex Laskey met their first week of college. After graduation, Dan started a software business he later sold to Houghton Mifflin, while Alex ran political campaigns. Though Alex has always been an environmentally aware outdoorsman, it was during a journey from Alaska to Patagonia that Dan became truly aware of ways our demand for energy devastates the natural world.</p>

    <p>When OPOWER was starting up in 2007, everyone was abuzz about cleaner energy production using renewable energy sources, like the sun and wind. Dan and Alex knew that, though critically important, these sources wouldn’t be tapped in the short-term. The answer to reducing our carbon emissions right now was curbing wasteful use of the types of energy we produce today.</p>

    <div class="clearfix">
        <p>1.4 billion utility bills are mailed to customers each year. These mailings, they realized, were perfect vehicles for reaching hundreds of millions of households with energy-saving ideas. Come to find out, Robert Cialdini—a renowned behavioral scientist—had academic research that supported their initial ideas about prompting people to change the way they use energy at home. Together, they set about designing a prototype, which they then took on the road to two of America’s major energy markets, California and Texas. The amount of interest they received from utilities, state legislators, and environmental groups soon led to Dan and Alex securing their first round of venture capital funding from MHS Capital.</p>
    </div>

    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->


    <div class="gallery clearfix">
        <img src="/photos/dan-alex.jpg" alt="" />
    </div>


    <h4><span class="highlight">OPOWER Today</span></h4>
        
    <p>Our all-star team of software engineers, product specialists, behavioral scientists, statisticians, marketing experts, infographic designers, and efficiency advocates is about 175 people strong today, and we should reach 300 by the end of 2011. From our home base near Washington, DC, we’ve been growing by leaps and bounds, and we’ve recently opened a new office in San Francisco to help us continue to do that.</p>

    <p>In November, 2010, we raised $50 million in a strategic round of financing from Accel Partners and Kleiner Perkins Caufield & Byers, with participation from New Enterprise Associates, our largest investor—three of the best venture capital firms in the business. Their investment will support our rapid expansion and accelerate our product development efforts in 2011. (If you’d like to read the full press release, <a href="http://www.opower.com/Press/OPOWERRaises50MillioninSeriesCFinancing.aspx">it’s here</a>.)</p>

    <p>Meanwhile, we’re doubling the total amount of energy we’re helping North Americans save at home every six months: by the end of 2011, the amount of energy we’ll have saved will be more than a third of the energy produced by entire US solar industry—and we’re having a great time doing it! We’re a company that’s deeply committed to transparency and to our staff, and we were built with collaboration, collective success, and quality of life for all in mind.</p>

    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

    <h4><span class="highlight">Our Future</span></h4>
        
    <p>Energy efficiency is one of the world’s greatest untapped sources for emissions reductions. Whether you’re diagnosing factors behind a high utility bill, making use of a new smart meter, choosing a water heater, or sharing energy tips online, OPOWER wants to be there, offering immediate solutions for reducing the way you and those around you use energy. Our future growth is only limited by the number of extraordinary people we can find to help us think up new and greater ways to help people around the world consume energy more efficiently. We’d love to hear from you.</p>

    <div class="gallery clearfix">
        <img src="/photos/dan-obama.jpg" alt="" />
    </div>


</div>
