<div class="content">

    <h2>Saving energy is as fun as it sounds</h2>
    <h3><br /></h3>


    <div class="large-text space-bottom">
        
        <p>Here are a few excerpts from life at OPOWER. Some of it – like President Obama coming to visit us – is pretty OMAZING. And some of it is embarrassing. See for yourself.</p>

    </div>
    
        
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-0 clearfix">

        <div class="span-10">
            <h4><span class="highlight">Obama Visits OPOWER</span></h4>
            <p>It's not every day that the President of the United States stops by your office to deliver a major national policy speech and commend your company’s achievements. POTUS spent a solid half an hour at OPOWER, including 15 minutes of handshakes and photos after his live, televised appearance.</p>
        </div>
        <div class="span-7 last gallery">
            <a href="/photos/obama-0.jpg" class="fancybox" rel="obama" title="Click on the right or left to cycle"><img src="/photos/obama-0.jpg" /></a>
            <a href="/photos/obama-1.jpg" class="fancybox" rel="obama"></a>
            <a href="/photos/obama-2.jpg" class="fancybox" rel="obama"></a>
            <a href="/photos/obama-3.jpg" class="fancybox" rel="obama"></a>
            <a href="/photos/obama-4.jpg" class="fancybox" rel="obama"></a>
        </div>
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-1 clearfix">

        <div class="span-10">
            <h4><span class="highlight">Innovation Day Returns</span></h4>
            <p>OPOWER held its second bi-annual Innovation Day on January 19th. The entire company stepped away from its usual responsibilities to pursue personal projects related to the way we work and the spaces we work in, and we shared these with each other in a follow-up meeting the next morning. You’ll see some of the results of Innovation Day up on this site soon!</p>
        </div>
        <div class="span-7 last gallery">
            <a href="/photos/innovationTwo-1.jpg" class="fancybox" rel="innovationTwo" title="Click on the right or left to cycle"><img src="/photos/innovationTwo-1.jpg" /></a>
            <a href="/photos/innovationTwo-0.jpg" class="fancybox" rel="innovationTwo"></a>
            <a href="/photos/innovationTwo-2.jpg" class="fancybox" rel="innovationTwo"></a>
        </div>
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-0 clearfix">

        <div class="span-10">
            <h4><span class="highlight">Canine Colleagues</span></h4>
            <p>Beyond improving morale, encouraging teamwork, and barking about our successes, our dogs are fun to play with around the office. OPOWER welcomes housetrained visitors who would otherwise be bored at home during the work day. Riley (pictured) is always on best behavior and strives to maintain his title of Top ODog.</p>
        </div>
        <div class="span-7 last gallery">
            <img src="/photos/dogs-0.jpg" />
        </div>
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-1 clearfix">

        <div class="span-10">
            <h4><span class="highlight">Green Jobs Award</span></h4>
            <p>OPOWER is a double-bottom line company: sustaining our business and sustaining our environmental impact are equally important to us. We were extremely honored to be recognized with a 2010 Green Jobs Award for our contributions to the environment, the economy, and the quality of our working environment, careers, and benefits. Every job at OPOWER is "green," since everyone here is helping people save money, energy, and natural resources.</p>
        </div>
        <div class="span-7 last gallery">
            <a href="/photos/greenJobs-0.jpg" class="fancybox" rel="greenJobs" title="Click on the right or left to cycle"><img src="/photos/greenJobs-0.jpg" /></a>
            <a href="/photos/greenJobs-1.jpg" class="fancybox" rel="greenJobs"></a>
        </div>
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-0 clearfix">

        <div class="span-10">
            <h4><span class="highlight">NOVAJUG</span></h4>
            <p>In October, the Northern Virginia Java Users Group (NOVAJUG) &mdash; which educates 2,000+ members about current topics in software engineering &mdash; held one of its regular meetings at our headquarters in Arlington. During their visit, NOVAJUG members took a tour of our office, and enjoyed pizza and refreshments before a talk by OPOWER lead engineer Dave Copeland on How to convince your boss to let you use Scala.</p>
        </div>
        <div class="span-7 last gallery">
            <img src="/photos/novajug-1.gif" />
        </div>

    </div>


    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-1 clearfix">

        <div class="span-10">
            <h4><span class="highlight">Soccer Team</span></h4>
            <p>The OPOWER soccer team gets together a few Saturdays every month. We play in a competitive DC and Virginia league, and we’ve even won a few matches! Though we’re not the best soccer players you've ever met, we get better with every match, and other teams have started to notice. Plus, stories from the weekend's match are always a hit in the OPOWER kitchen on Monday morning.</p>
        </div>
        <div class="span-7 last gallery">
            <a href="/photos/soccer-1.jpg" class="fancybox" rel="soccer"><img src="/photos/soccer-1.jpg" alt="" /></a>

        </div>

    </div>




    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-0 clearfix">
        
        <div class="span-10">
            <h4><span class="highlight">Quarterly Company Outing</span></h4>
            <p>We've always prided ourselves on our transparency. Our quarterly meetings provide us all with candid updates on our company growth and performance. We've recently started a new tradition here at OPOWER – our quarterly meetings are now followed by an "all hands on deck" party. This summer, we cruised the Potomac River on a boat for the afternoon, with open bar, DJ, and dancing. What a Wednesday! </p>
        </div>
        <div class="span-7 last gallery">
            <a href="/photos/boat-1.jpg" class="fancybox" rel="boat" title="Click on the right or left to cycle"><img src="/photos/boat-1.jpg" /></a>
            <a href="/photos/boat-0.jpg" class="fancybox" rel="boat"></a>
            <a href="/photos/boat-2.jpg" class="fancybox" rel="boat"></a>
            <a href="/photos/boat-3.jpg" class="fancybox" rel="boat"></a>
            <a href="/photos/boat-4.jpg" class="fancybox" rel="boat"></a>
            <a href="/photos/boat-5.jpg" class="fancybox" rel="boat"></a>
            <a href="/photos/boat-6.jpg" class="fancybox" rel="boat"></a>
            <a href="/photos/boat-7.jpg" class="fancybox" rel="boat"></a>
        </div>
    
    </div>    
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-1 clearfix">
    
        <div class="span-10">
            <h4><span class="highlight">Innovation Day</span></h4>
            <p>On Innovation Day, everyone at OPOWER has the opportunity to shut out the outside world and focus on developing new ideas. Our recent results were mind-blowing, and will help shape our company’s future. OPOWER CEO, Dan Yates, also developed the company's first 'Values' video that day. Trust us, we make software better than we do film...</p>
        </div>
        <div class="span-7 last gallery">
            <a href="/photos/innovation-0.jpg" class="fancybox" rel="innovation" title="Click on the right or left to cycle"><img src="/photos/innovation-0.jpg" /></a>
            <a href="/photos/innovation-1.jpg" class="fancybox" rel="innovation"></a>
            <a href="/photos/innovation-3.jpg" class="fancybox" rel="innovation"></a>
            <a href="/photos/innovation-4.jpg" class="fancybox" rel="innovation"></a>
            <a href="/photos/innovation-5.jpg" class="fancybox" rel="innovation"></a>
            <a href="/photos/innovation-6.jpg" class="fancybox" rel="innovation"></a>
            <a href="/photos/innovation-7.jpg" class="fancybox" rel="innovation"></a>
            <a href="/photos/innovation-8.jpg" class="fancybox" rel="innovation"></a>
            <a href="/photos/innovation-9.jpg" class="fancybox" rel="innovation"></a>
        </div>
        
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-0 clearfix">
    
        <div class="span-10">
            <h4><span class="highlight">Viva Cinco de Mustache!</span></h4>
            <p>A bona fide OPOWER tradition, now in its third year! Started by a small group of our engineers—and now embraced by the entire company (including staff of all genders)—Cinco de Mustache sees us refrain from shaving for the entire month leading up to Cinco de Mayo. On May 5th, beards disappear as people bring their most creative mustaches to work. We'll let the photos speak for themselves on this one (and remember, we told you some of this material is embarrassing!)</p>
        </div>
        <div class="span-7 last gallery">
            <a href="/photos/cinco-2.jpg" class="fancybox" rel="cinco" title="Click on the right or left to cycle"><img src="/photos/cinco-2.jpg" /></a>
            <a href="/photos/cinco-1.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-0.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-3.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-4.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-5.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-6.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-7.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-8.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-9.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-10.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-11.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-12.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-13.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-14.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-15.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-16.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-17.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-18.jpg" class="fancybox" rel="cinco"></a>
            <a href="/photos/cinco-19.jpg" class="fancybox" rel="cinco"></a>
        </div>

    </div>
        
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-1 clearfix">
    
        <div class="span-10">
            <h4><span class="highlight">OPonger</span></h4>
            <p>OPing OPong. When it comes to table tennis, we've got game. Last May, OPOWER players battled to the end for our first ever OPonger title.</p>
        </div>
        <div class="span-7 last gallery">
            <a href="/photos/oponger.jpg" class="fancybox" rel="oponger" title="Click on the right or left to cycle"><img src="/photos/oponger.jpg" /></a>
            <a href="/photos/oponger_board.png" class="fancybox" rel="oponger"></a>
        </div>
    </div>    


</div>
