<!-- this is all inside a span-17 -->
<h1 class="page-heading divided-page-heading divided-heading heading">Business Development</h1>
<h2>Building relations across the country</h2>

        
<div class="span-10 first">
    
    <p>Where there’s energy to be saved, and customers to engage, the Client Solutions team will be there to promote OPOWER's innovative products. Working in all 50 states & laying seed internationally, the Client Solutions team sells OPOWER’s latest technology on the road to help solve utility challenges.  The face of OPOWER, this team is based in DC, SF, and throughout the US.</p>
    

    
</div>
        
<div class="span-7 last gallery">
    <div class="team-placeholder"></div>
</div>
