<!-- this is all inside a span-17 -->
<h2>Client Services and Operations</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>
    
<div class="span-10">

    <p>The client services & operations team manages OPOWER’s software deployments and ongoing client engagements, ensuring that our platform successfully connects with utility infrastructure, gathers energy usage data from millions of households, and generates innovative, personalized messaging to consumers to maximize efficiency results.</p>
    <p>This team of engagement managers, technical project managers, and professional services engineers are in charge of managing the day-to-day relationship with our utility clients and making sure our product is properly deployed, optimized, and innovated on within a client’s service territory in order to ensure consumer engagement and efficiency.</p>
    <p>A high-octane team with a rare combination of top-MBAs and expert computers scientists (including a literal rocket-scientist), this tight-knit clan is known for delivering flawlessly within ambitious client goals and timelines.</p>

</div>
        
<div class="span-7 last gallery">
    <a href="/photos/office-clientServices.jpg" class="fancybox"><img src="/photos/office-clientServices.jpg" alt=""/></a>
</div>