<!-- this is all inside a span-18 -->
<h2>Engineering</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<p>Impressed by our award-winning software product? Want to be a part of a team that is working on redefining the way millions will experience their energy usage? This is the place to be.</p>        

<div class="clearfix gallery">
    
    <div class="span-5 push-1">
        <a href="/photos/engineering-group.jpg" class="fancybox" title="Engineers doing engineering" rel="engineering"><img src="/photos/engineering-group.jpg" alt=""/></a>
    </div>
    
    <div class="span-5">
        <a href="/photos/engineering-dashboard.jpg" class="fancybox" title="Engineers dashboard" rel="engineering"><img src="/photos/engineering-dashboard.jpg" alt=""/></a>
    </div>
    
    <div class="span-5 last">
        <a href="/photos/engineering-swarm-2.jpg" class="fancybox" title="Engineers doing engineering" rel="engineering"><img src="/photos/engineering-swarm-2.jpg" alt=""/></a>
    </div>

</div>

<p>Our engineers are responsible for building a system capable of analyzing the energy use of more than 20 million households. They are adept at using a variety of tools – from Java, Ruby, Scala, and jQuery to utilizing new web standards like HTML5 and CSS3. And through our Agile development process, they're able to deliver a new version of our platform every three weeks!</p>
<p>What's best about this team is its depth. The team includes both front-end and back-end engineers and QA, all working in unison to deliver innovative features that scale for millions.</p>
