    
<h2>Government Affairs & Legal</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-10 first">
    <p>Experts in energy regulation, Opower’s regulatory policy think tank helps to educate utility regulators and policy makers about the increasing need for energy efficiency. </p>
    <p>A team of policy wonks, lawyers and former industry experts, they ensure that Opower clients receive full credit for their efficiency savings.</p>
    <p>Deem this team Opower’s regulatory backbone, with a 100% net-to-gross ratio!</p>

</div>

<div class="span-7 last gallery">
    <a href="/photos/office-regulatoryAffairs.jpg" class="fancybox"><img src="/photos/office-regulatoryAffairs.jpg" alt=""/></a>
</div>