<!-- this is all inside a span-17 -->
<h2>Recruiting</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-10 first">
    <p>Ring the Gong! How do you take a 10-person start-up & turn it into a 110 person powerhouse in two years? Meet the recruiting team! Pouring through countless leads to find the industry’s best & brightest to fill our DC & SF offices, the recruiting team continues to bring the best talent to OPOWER as we grow from 100 employees to 250 employees by 2012.</p>

</div>

<div class="span-7 last">
    <div class="team-placeholder"></div>

</div>