<!-- this is all inside a span-17 -->
<h2>Sales and Business Development</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-17 first">

    OPOWER is looking for top performing sales executives and regional senior executives throughout the US. We are very interested in speaking with folks that have proven track records of success in the areas of Enterprise Application Software Sales, SaaS solutions and Utility-related selling (including working within utilities and with external stakeholders such as state regulators).

    <h4>Why are we hiring so many new teammates?</h4>
    <p>OPOWER is growing very quickly and there is tremendous demand for the OPOWER solution both in the US and abroad. Utilities around the world want to work with us, and we need more teammates to carry our message both near and far.</p>

    <h4>What has made for a great sales executive at OPOWER to-date?</h4>
    <p>OPOWER continues to lead the market for information-based energy efficiency, smartgrid customer engagement, improving customer satisfaction, and more broadly, for helping utilities to better understand and connect with their customers.  Our selling success to-date has been with teammates who are creative, persistent, can develop meaningful relationships with our prospects and clients, understand and can find the specific value proposition (EE, smartgrid adoption, customer sat, enhanced CRM, etc…) for our Utility partners, and then can rally all of the internal and external (regulatory and other) stakeholders around the OPOWER solution as a critical part of their present and future.</p>

    <h4>How does OPOWER structure its compensation for these roles?</h4>
    <p>Compensation includes a highly competitive base salary, a robust commission and/or bonus plan, and stock options.</p>

</div>

