<% /*
    For listing all teams
    http://localhost:3000/teams

    Idea for layout: http://www.facebook.com/careers/
*/ %>

<div class="content">
    <h2>Our Teams</h2>
    <h3><br /></h3>
    <p>At Opower, we understand that our success is a result of our diverse and talented workforce, and we take pride in maintaining the high quality of our workplace. You will find challenging projects and smart people here, and we encourage you to apply and join our team.</p>
    <p>The process begins with searching for a job opening that interests you by job team.</p>
    <ul class="teams clearfix">
        <%- partial('team-small.ejs', { collection: collection, as: 'team' } ) %>
    </ul>
    
</div>