<li class="decorative-icon-listitem icon-listitem listitem clearfix">
    <a href="/<%= team.id %>">
        <span class="icon icon-small icon-dept-small icon-dept-small-<%= team.id %> float-left"> </span>
        <h3 class="heading post-heading link entry-title"><%= team.name %></h3>
    </a>
</li>