<% /*
    For individual team pages
    http://localhost:3000/engineering
*/ %>

<div class="content page-team">
    <% /* team header */ %>
    <div class="span-17 first last">
        <%- partial(team_page + '.ejs') %>
    </div>

    <% if (collection) { %>

            <ul class="table">
                <%- partial('../jobs/job', { collection: collection.jobs, as: 'job', show_location: true } ) %>
            </ul>

    <% } else { %>
        New opportunities for this team will be posted here.  Check back soon.
    <% } %>
</div>

