<div class="page_image"></div>
<div class="quote">
    <div>"I founded my first company when I graduated from college, and I know that some of the brightest talent with the greatest upside will join OPOWER directly from college."</div>
    <div><span class="strong">Dan Yates</span> &mdash; CEO and Co-Founder</div>
</div>

<div class="content">
    <p>OPOWER offers opportunities for recent graduates in the following roles:</p>

    <ul>
        <li>Associate Professional Services Engineer - Implement our sophisticated technology platform with utilities around the country</li>
        <li>Associate Program Manager - Manage client relationships and results as part of an account team</li>
        <li>Associate Product Manager - Help design the OPOWER's next generation products</li>
    </ul>

    <p>OPOWER recruits from top universities around the country.  Recent graduates from MIT, Yale, and Stanford are all in OPOWER training programs today.  Our college recruiting schedule for the 2010-2011 academic year will be posted in September.</p>

</div>



