<div class="page_image dc"></div>
<div class="quote">
    <div>"People at OPOWER love going out and being active.  DC is a great place for that, whether it's running on Rock Creek Park or a night out in Dupont Circle."</div>
    <div><span class="strong">Ran Nussbacher</span> &mdash; Director, Client Solutions</div>
</div>

<div class="content">
    <p>Whether you&rsquo;re looking for a night on the town, a dance class, an outdoor film, an art show, a museum tour, a mountain hike, or kayaking in the Potomac, you can find it here.</p>

    <div class="strong" style="padding-top: 10px;">Did you know?</div>
    <ul>
        <li>800+ miles of bikeway and one of the best public transportation systems in the country mean that a green commute is easy if you work for OPOWER</li>
        <li>DC is a cosmopolitan, international city with the best educated workforce in the US</li>
        <li>The area offers nearby mountains and beaches for weekend getaways; New York is  a short train ride away but you may prefer to stay in town and play soccer with your colleagues from OPOWER</li>
        <li>16 of the 100 highest-performing high schools in the country are in the DC area</li>
    </ul>
</div>

