<div class="content">
    <h2>Our developers are our backbone.</h2>
    <h3 class="line">We've built our business on your talents, and we'll do everything we can</h3>
    
    <div>
        <h4>Do you have what it takes?</h4>
    </div>
</div>