<div class="content large-text">
    <h2>Our developers are our backbone.</h2>
    <h3>We've built our business on your talents, and we plan to keep it up</h3>
    
    <div class="clearfix space-bottom">
        <div class="span-17 last">
            <h4><span class="lead highlight">We use the right tools for the job</span></h4>
        </div>
        <div class="span-12">
            <p>Java, Spring, Scala, Ruby, jQuery, HTML5, and CSS3 – all of these were used to close a recent ticket.</p>
            <p>Tell us what you need to get a job done – operating system, environment, software, coffee – and we'll make sure you have it. <strong>We are only wedded to what works.</strong></p>
        </div>
        <div class="span-5 last">
            <img src="/css/theme/icon-computer.gif" />
        </div>
    </div>
    
    <div class="clearfix space-bottom">
        <div class="span-17 last">
            <h4><span class="lead highlight">There's no need to shout, help is right beside you</span></h4>
        </div>
        <div class="span-5">
            <div class="icon icon-people"> </div>
        </div>
        <div class="span-12 last">
            <p>We all need a little help sometimes. Luckily, we don't have to go far. Product managers, User Experience, QA, and Developers – we all sit together in an open environment to encourage communication and collaboration. </p>
        </div>
    </div>
    
    <div class="clearfix space-bottom">
        <div class="span-17 last">
            <h4><span class="lead highlight">Need more time to be creative?</span></h4>
        </div>
        <div class="span-12">
            <p>We know the difference between what you need to get done and what you want to get done.</p>
            <p>That's why we have <strong>Innovation Days</strong>, regularly scheduled breaks in our roadmap to focus on side-projects.</p>
        </div>
        <div class="span-5 last">
            <div class="icon icon-lightbulb"> </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>