<div class="content large-text">
    <h2>Our developers are our backbone.</h2>
    <h3 class="line">We've built our business on your talents, and we plan to keep it up</h3>
    
    <div class="clearfix separator">
        <div class="span-12">
            <span class="lead highlight">We use the right tools for the job</span>
            <h4></h4>
            <p>Java, Spring, Scala, Ruby, jQuery, HTML5, and CSS3 – all of these were used to close a recent ticket.</p>
            <p>Tell us what you need to get a job done – operating system, environment, software, coffee – and we'll make sure you have it. <strong>We are only wedded to what works.</strong></p>
        </div>
        <div class="span-5 last">
            <img src="/css/theme/icon-computer.gif" />
        </div>
    </div>
</div>