<div class="page_image"></div>
<div class="quote">
    <div>"OPOWER is a creative, energetic company whose management understands that diversity is key to the success of our company and our clients."</div>
    <div><span class="strong">Sharon Kaufman</span> &mdash; Director, Human Resources</div>
</div>

<div class="content">
    <p>OPOWER&rsquo;s diversity initiative is aimed at improving the company&rsquo;s competitiveness by increasing the representation, development, promotion, and retention of women, people of color, non-U.S. citizens, and others with diverse backgrounds.</p>

</div>



