<div class="span-12">
    <div class="banner strong">
        <div class="scrollable ">
            <div class="items">
                <div class="item mac">
                    <h2>The Developer Difference</h2>
                    <h3>Mac or Linux?  <span class="italic">Up to you.</span></h3>
                </div>
                <div class="item scooter">
                    <h2>The Developer Difference</h2>
                    <h3>Whiteboards?  <span class="italic">Closer than you think.</span></h3>
                </div>

            </div>
        </div>
        <h2 class="banner_title">The Developer Difference</h2>
        <a class="prev browse left"></a>
        <a class="next browse right"></a>
    </div>
</div>
<div class="clearfix"></div>
<div class="content">

        <%- partial("department-browser.ejs", { } ) %>

   



</div>