<% /*
    Home page
    http://localhost:3000/
*/ %>


<div class="content">


    <div class="space-bottom">
        <img src="/photos/office-blackboard.jpg" />
    </div>
    
    <h2 class="single">For every Opower employee, we'll save enough energy to power <a href="/films">1,000 homes</a> for a year – every year.</h2>

    <div class="large-text">

        <p>Our goal is to make the world more energy efficient. And we have some pretty good ideas about how to make that happen. But what separates great ideas from products with the potential to change the world are the people who bring them to life.</p>
        <p>At Opower, our team of software developers, engineers, marketers, social scientists, statisticians, engagement managers, salespeople, recruiters, and regulatory gurus are directly responsible for the enormous positive impact we’ve had to date: the amount of power we save will soon equal a third of what's produced by the entire US solar industry. By the end of next year, we'll be saving enough energy to power 1,000 homes for every Opower employee!</p>
        <p>Interested in helping us save even more? Then join us! You’ll be challenged to perform at a high-level, but you’ll also <a href="/working-here">have fun doing it</a>. Best of all, you’ll be able to tell your friends and family that you’re helping change the world. </p>
 
    </div>

    <a href="http://feedburner.google.com/fb/a/mailverify?uri=opowerjobs&amp;loc=en_US">Subscribe to Opower Jobs by Email</a>

</div>
