<% /*
    Home page
    http://localhost:3000/
*/ %>


<div class="content">


    <div class="span-17 first last">
        <div class="first span-7">
            <a href="/dc-northern-virginia">
                <%- partial('jobs/icons/dc-northern-virginia') %>
            </a>
        </div>
        <div class="span-10 last">
            <div class="strong">Arlington, Virgina</div>
            <a href="/dc-northern-virginia">All DC Openings</a>
            <ul>
                <li>Corporate Headquarters.  This is where the action is at.</li>
                <li>One block from the Court House Metro on the Orange line.</li>
                <li>Most employees live in DC, including both founders.</li>
                <li>Plenty of parking for cars and bikes.</li>
            </ul>
        </div>
    </div>


    <div class="span-17 first last">
        <div class="first span-10">
            <div class="strong">San Francisco, California</div>
            <a href="/san-francisco">All SF Openings</a>
            <ul>
                <li>One block from the ???.</li>
                <li>Trendy office.</li>
                <li>Lots of conference rooms.</li>
                <li>Those things that people in SF like.</li>
            </ul>
        </div>
        <div class="span-7 last">
            <a href="/san-francisco">
                <%- partial('jobs/icons/san-francisco') %>
            </a>
        </div>
    </div>

</div>
