<% /*
    Home page
    http://localhost:3000/
*/ %>


<div class="content">


    <div class="space-bottom">
        <img src="/css/theme/photos/office-blackboard.jpg" />
    </div>
    
    <h2 class="single">For every OPOWER employee, we'll save enough energy to power <a href="/films">1,000 homes</a> for a year – every year.</h2>

    <div class="large-text">

        <p>Our goal is to make the world more energy efficient. And we have some pretty good ideas about how to make that happen. But what separates great ideas from products with the potential to change the world are the people who bring them to life.</p>
        <p>At OPOWER, our team of software developers, engineers, marketers, social scientists, statisticians, program managers, salespeople, recruiters, and regulatory gurus are directly responsible for the enormous positive impact we’ve had to date: the amount of power we save will soon equal a third of what's produced by entire US solar industry. By the end of next year, we'll be saving enough energy to power 1,000 homes for every OPOWER employee!</p>
        <p>Interested in helping us save even more? <a href="/all">Then join us!</a> You’ll be challenged to perform at a high-level, but you’ll also <a href="/working-here">have fun doing it</a>. Best of all, you’ll be able to tell your friends and family that you’re helping change the world. </p>
 
    </div>
    <% /* %>
    <div class=" hide">

        <ul id="dropdown-critical" class="dropdown droplink">
            <li class="target">Critical Hires</li>
            <li>
                <ul class="subnav">
                    <%- partial('jobs/jobid', { collection: all_critical, as: "jobId", locals: {show_location: true } } ) %>                    
                </ul>
            </li>
        </ul>
        
        <ul id="dropdown-critical" class="dropdown droplink">
            <li class="target">Our Teams</li>
            <li>
                <ul class="subnav">
                    <%- partial('jobs/team', { collection: all_teams, as: "department", locals: {} } ) %>
                </ul>
            </li>
        </ul>
        
    </div>
    <% */ %>

</div>
<% /* %>

<script type="text/javascript">
    window.onload = function() {
        $('#dropdown-critical')
            .dropdown({ name: 'fuelSelector' });
    };
</script>

<% */ %>