<div class="page_image"></div>
<div class="quote">
    <div>"OPOWER is deeply invested in recruiting the right people, and it shows in the investment that employees make in interviewing job applicants.  This was the most rigorous interview process I ever went through for a job.  More rigorous than what I went through for Bain, Microsoft, or anywhere else."</div>
    <div><span class="strong">Roderick Morris</span> &mdash; SVP, Consumer Marketing and Operations</div>
</div>

<div class="content">
    <p>Our interview process at OPOWER sets a high standard, because we seek the very best.</p>

    <ul>
        <li>Know what interests you about OPOWER and why you&rsquo;ve applied for the position you are seeking
        <li>Familiarize yourself with press and web copy on our company
        <li>If you are interviewing for a software engineering or technical role, be ready to answer high-level technical questions on data-structures and algorithms; we will give you homework and we will expect you to code up your answers to our questions during the interview process.
        <li>Ensure you can substantiate anything your resume says and that you have references who can back this up
    </ul>
</div>


