<!DOCTYPE html>
<html>
<head>
    <title>OPOWER Jobs</title>
    <link href="/public/css/jqueryui/flick/jquery-ui-1.8.2.custom.css" rel="stylesheet"  type="text/css"/>
    <link href="/public/css/reset.css" rel="stylesheet"  type="text/css"/>
    <link href="/public/css/reset.css" rel="stylesheet"  type="text/css"/>
    
    <link href="/public/css/reset.css" rel="stylesheet"  type="text/css"/>
    <link href="/public/css/grid.css"  rel="stylesheet"  type="text/css"/>
    <link href="/public/css/fonts.css" rel="stylesheet"  type="text/css"/>
    <link href="/public/css/base.css"  rel="stylesheet"  type="text/css"/>
    <link href="/public/css/jobs.css"  rel="stylesheet"  type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="span-24">
            <div class="header rounded">
                <div class="nav">
                    <img class="logo" src="/public/css/images/logo.png" alt="opower" />
                    <%- partial("nav", { collection: pages, as: "page", locals: { active: locals.active }} ) %>
                </div>
                <% if (active.search('jobs') === -1) { %>
                <div class="taglines">
                    <div class="tag1">Our company was founded on a simple premise:</div>
                    <div class="tag2">it's time to engage the 300 million Americans who are in the dark about their energy use.</div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="span-24">
            <div class="body rounded">
            <% if (active.search('jobs') !== -1) { %>
                <%- partial('jobs/nav', { locals: locals } ) %>
            <% } %>

            <%- body %>
            </div>
        </div>
        <div class="span-24">
            <div class="footer rounded">
            
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/public/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/public/js/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" src="/public/js/scrollable.js"></script>
    <script type="text/javascript" src="/public/js/tabs.js"></script>
    <script type="text/javascript" src="/public/js/site.js"></script>
</body>
</html>