<!DOCTYPE html>
<html>
<head>
    <title>OPOWER Jobs</title>
    <link href="/css/compressed.css" rel="stylesheet"  type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="span-25">
            <div class="header">
                <div class="nav">
                    <img class="logo" src="/css/images/logo.png" alt="opower" />
                    <%- partial("nav", { collection: pages, as: "page", locals: { active: locals.active }} ) %>
                </div>
            </div>
            <div class="body">
            <% if (true || active.search('jobs') !== -1) { %>
                <%- partial('jobs/nav', { locals: locals } ) %>
            <% } %>
            </div>
            <div class="header">
                <% if (active.search('jobs') === -1) { %>
                <div class="taglines">
                    <div class="tag1">Our company was founded on a simple premise:</div>
                    <div class="tag2">it's time to engage the 300 million Americans who are in the dark about their energy use.</div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="span-25">

            <div class="body">
                <%- body %>
            </div>
        </div>
        <div class="span-25">
            <div class="footer rounded">
            
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/compressed.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17897272-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>