<div class="page_image opportunities"></div>
<div class="quote">
    <div>"This looks like a fun place to work."</div>
    <div><span class="strong">President Obama</span> &mdash; First thing President Obama said in his speech at OPOWER's office</div>
</div>

<div class="content">

    <div class="span-7">
        <div class="strong">Benefits</div>
        <div class="desc">Work in your jeans, choose a Mac or a PC, enjoy complimentary meals and massages.  OPOWER is a great place to work, and the benefits and perks are plentiful.</div>
        <a href="/opportunities/benefits">Learn more</a>
    </div>
    <div class="span-7">
        <div class="strong">Life in DC</div>
        <div class="desc">DC offers many of the country&rsquo;s most compelling arts and culture opportunities, 234,000 acres of parkland, 800+ miles of bikeway, and countless bars and restaurants.</div>
        <a href="/opportunities/dc">Learn More</a>
    </div>
    <div class="span-7 last">
        <div class="strong">College Hires</div>
        <div class="desc">We hire the best and brightest.  Join an outstanding group of recent college graduates, get trained, and put your technology or business skills to use preserving our planet.</div>
        <a href="/opportunities/college">Learn More</a>
    </div>

    <div class="clearfix" style="margin-bottom:20px;"></div>

    <div class="span-7">
        <div class="strong">Diversity</div>
        <div class="desc">The diverse people of OPOWER share a passion for making the world a better place through creativity, technology, and dedication.</div>
        <a href="/opportunities/diversity">Learn More</a>
    </div>
    <div class="span-7">
        <div class="strong">How to apply</div>
        <div class="desc">Interested in putting your talents to use for one of the hottest startups in the country?  Maybe it&rsquo;s time to take the next step and apply for a job with OPOWER.</div>
        <a href="/opportunities/apply">Learn More</a>
    </div>
    <div class="span-7 last">
        <div class="strong">How we interview</div>
        <div class="desc">At OPOWER, people are our most important asset.  So we try to be thoughtful and rigorous in our interview process.</div>
        <a href="/opportunities/interview">Learn More</a>
    </div>

    <div class="clearfix" style="margin-bottom:20px;"></div>

    <div class="span-7">
        <div class="strong">Coding Challenge</div>
        <div class="desc">Are you a top notch developer?  Want a fast track to a job at OPOWER?  Solve a puzzle and run it by our Chief Software Architect for evaluation.</div>
        <a href="/opportunities/challenge">Learn More</a>
    </div>
    <div class="span-7">
    </div>
    <div class="span-7 last">
    </div>
    <div class="clearfix"></div>
</div>
