<div class="content">

    <h2>Our goal is to become the world’s first global energy-efficiency company</h2>
    <h3>And we’re well on our way to achieving it!</h3>

    <div class="large-text space-bottom">

        <p>We signed our first client in 2007 while sitting at a rented desk in San Francisco. Since then, we’ve grown into a well-capitalized business serving 37 utilities—including 7 of the USA’s 10 largest. Our product now reaches nearly 5 million homes in North America.</p>

        <p>Together with our clients and their customers, we’re saving energy, saving them money, and directly helping to reduce global carbon emissions. And our positive impact increases every single day. </p>
    
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    
    <h4><span class="highlight">Our Past</h4>

    <p>OPOWER founders Dan Yates and Alex Laskey met their first week of college. After graduation, Dan started a software business he later sold to Houghton Mifflin, while Alex ran political campaigns. Though Alex has always been an environmentally aware outdoorsman, it was during a journey from Alaska to Patagonia that Dan became truly aware of ways our demand for energy devastates the natural world.</p>

    <div class="gallery gallery-horizontal clearfix">
        <a href="css/theme/photos/story-dan.jpg" class="fancybox" title="Dan in South America" rel="story"><img src="css/theme/photos/story-dan.jpg" /></a>
        <a href="css/theme/photos/story-alex.jpg" class="fancybox" title="Alex on the campaign trail" rel="story"><img src="css/theme/photos/story-alex.jpg" /></a>
        <a href="css/theme/photos/story-reports.jpg" class="fancybox" title="Early, early versions of our report" rel="story"><img src="css/theme/photos/story-reports.jpg" /></a>
    </div>    


    <p>When OPOWER was starting up in 2007, everyone was abuzz about cleaner energy production using renewable energy sources, like the sun and wind. Dan and Alex knew that, though critically important, these sources wouldn’t be tapped in the short-term. The answer to reducing our carbon emissions right now was curbing wasteful use of the types of energy we produce today.</p>            



    <div class="clearfix">

            <p>1.4 billion utility bills are mailed to customers each year. These mailings, they realized, were perfect vehicles for reaching hundreds of millions of households with energy-saving ideas. Come to find out, Robert Cialdini—a renowned behavioral scientist—had academic research that supported their initial ideas about prompting people to change the way they use energy at home. Together, they set about designing a prototype, which they then took on the road to two of America’s major energy markets, California and Texas. The amount of interest they received from utilities, state legislators, and environmental groups soon led to Dan and Alex securing their first round of venture capital funding from NEA. </p>

    </div>

    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

    <h4><span class="highlight">OPOWER Today</h4>
        
    <p>OPOWER is a 100-person-strong, all-star team of software developers, engineers, and sales, marketing, and operations experts. From our home base near Washington, D.C., we’ve been growing by leaps and bounds, and we’ve just opened a new office in San Francisco to help us continue to do that. We’re doubling the total amount of energy we’re helping North Americans save at home every six months: the amount of energy save will soon will equal a third of the energy produced by entire US solar industry. We’re a company that’s deeply committed to transparency and to our staff, and we were built with collaboration, collective success, and quality of life for all in mind. </p>

    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

    <h4><span class="highlight">Our Future</h4>
        
    <p>Energy efficiency is one of the world’s greatest untapped sources for emissions reductions. Whether you’re diagnosing factors behind a high utility bill, making use of a new smart meter, choosing a water heater, or sharing energy tips online, OPOWER wants to be there, offering immediate solutions for reducing the way you and those around you use energy. Our future growth is only limited by the number of extraordinary people we can find to help us think up new and greater ways to help people around the world consume energy more efficiently. We’d love to hear from you.</p>

</div>
