<div class="content">

    <h2>From crowded cubicle to 2-level office</h2>
    <h3>As our company has grown, so has our impact on the planet</h3>

    <div class="large-text space-bottom">
        
        <p>
            OPOWER signed its first utility client in 2007 from a rented desk in a San Francisco cubicle pit. Since then, the company has grown to a $30mm business, with 37 utility clients and a product that will soon reach more than 5 million homes.         
        </p>
    
        <p>
            OPOWER is saving money, saving energy, reducing carbon emissions and helping to create jobs, and our impact is increasing every day. Interested in how this all came to be? Just keep reading.        
        </p>
    
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    
    <h4><span class="highlight">OPOWER Beginnings</h4>

    <div class="clearfix">
        
        <div class="span-10">
            <p>Dan Yates and Alex Laskey met the first week of freshman year of college in 1995. By senior year, they had plans to start a business of their own one day. After college, Dan founded an educational software company, Alex ran political campaigns. They stayed in touch. Eleven years later, after selling his first business to Houghton Mifflin, Dan drove from Alaska to Patagonia. In the process he realized the beauty of the world, but also the shocking degradation to the environment caused by humans. He returned to San Francisco, where Alex was working to elect environmentally conscious political candidates, and they decided to focus their entrepreneurial spirit in that arena.</p>        
        </div>

        <div class="span-7 last gallery">
            <a href="css/theme/photos/story-dan.jpg" class="fancybox" title="Dan in South America"><img src="css/theme/photos/story-dan.jpg" /></a>
        </div>
    
    </div>
    
    <p>
        In the Bay Area in 2007, everyone was talking about ways to produce clean energy - solar, wind and other renewables. But Dan and Alex realized that few people were paying attention to the other side of the equation - how to curb wasteful energy usage. While brainstorming ideas on how to help people become more energy efficient they stumbled upon a number - 1.4 billion, the number of utility bills mailed each year. This simple piece of mail, they realized, could be a vehicle to reach millions. But could they motivate them to change their behavior?        
    </p>
    <p>
        They found out about the research of Robert Cialdini, a brilliant behavioral scientist whose research focuses on motivation, influence and other ways to change behavior. They cold called him. And then called him again. They continued calling until Dr. Cialdini agreed to take a sabbatical and join Alex and Dan. The three of them created a prototype utility bill, designed specifically to inform customers and motivate them to behave more efficiently. They enlarged an image of their concept bill, and hit the road.        
    </p>

    <div class="clearfix">
        
        <div class="span-6 gallery">
            <a href="css/theme/photos/story-reports.jpg" class="fancybox" title="Early, early versions of our report"><img src="css/theme/photos/story-reports.jpg" /></a>
        </div>
        <div class="span-11 last">
            <p>
                Poster board in hand, the trio didn't have to go far to find encouragement. Their local utility company was intrigued and, with that support, Dan and Alex began talking to energy officials across the country. They made headway in Texas, where Alex testified at 3 a.m. before the state legislature's energy committee. Soon after that testimony, Texas passed HB-3693, a law requiring Texas utilities to achieve energy efficiency.
            </p>            
        </div>
        <div class="span-17 last">
            <p>
                With that ruling, Dan and Alex had legislative support, they had a product built on cutting-edge behavioral science and they had interest from utility companies. All they needed was a name.        
            </p>
        </div>
    </div>

    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

    <h4><span class="highlight">OPOWER Today</h4>
        
    <p>
        OPOWER is comprised of an all-star team of software developers, engineers, sales operations and marketers. It raised one round venture capital funding from NEA, and since then has brought on 7 of the 10 largest utilities in the US. OPOWER doubles its energy savings every six months, and is on track to save more energy over the next three years than is produced by the entire domestic solar industry.
    </p>


    <h4><span class="highlight">Our Vision</h4>
        
    <p>OPOWER aspires to become the first global energy efficiency company.  We see a future where energy information is readily available in all the moments and places where needed to help people save energy, save money, and reduce emissions.</p>

    <p>Whether you&rsquo;re diagnosing a high bill, hoping to make use of your new smart meter, at a big box retailer choosing a water heater, receiving a coupon from your utility, finding tips online from energy experts in your neighborhood, or competing to save energy with your friends on Facebook, OPOWER wants to be there to bring you individualized, easy-to-use analytics and energy saving recommendations.</p>

    <p>Energy efficiency is one of the biggest remaining approaches for emissions reduction.  McKinsey & Company sizes the current US energy efficiency opportunity at >$10B annually, and expects that to grow to $40-$50Bn over the coming decade.</p>

    <p>And it doesn&rsquo;t stop at the US.  OPOWER is already heading abroad to help people around the world make smarter energy decisions.</p>

    <p>Our growth is limited only by the number of extraordinary people we can find to help us implement these ideas and dream up more ways to make a difference.</p>

    <!--
    <p>OPOWER aspires to become the first global energy efficiency company. We envision a future in which energy information is everywhere - helping people save energy, save money and reduce emissions. And we're going to do that by bringing you individualized and easy-to-understand insights that will help you save energy.</p>

    <p>In short, we're changing the way people think about energy use, and we're helping eliminate wasteful consumption. <a href="/">Join us</a> - we have some great ideas and room for more, our growth is limited only by the number of extraordinary people we can find.</p>
    -->
</div>
