<div class="page_image story"></div>
<div class="content">

<p>OPOWER signed their first utility client in 2007.  In 2010, OPOWER will serve 36 utility clients and nearly 10 million homes, and will generate more than $30mm in annual recurring revenue.  Here&rsquo;s the story behind OPOWER&rsquo;s exponential revenue growth and massive environmental impact.</p>

<h2 class="strong">OUR STORY</h2>
        
<p><a href="http://www.opower.com/Company/ManagementTeam.aspx#yates/">Dan Yates</a> and <a href="http://www.opower.com/Company/ManagementTeam.aspx#laskey/">Alex Laskey</a> met the first week of freshman year of college in 1995.  11 years later, they rented a desk in a shared San Francisco office and started investigating different environment-related ideas.  They ranged widely, from non-profit to for-profit, and started to narrow their focus on ideas that would help people make smart decisions to conserve energy.  One number that stuck out was 1.4 billion -- the number of utility bills mailed each year, few of which put any emphasis on conservation.  Through a series of lucky introductions Dan was introduced to the research of <a href="http://http://www.opower.com/Company/ScientificAdvisoryBoard.aspx#cialdini/">Robert Cialdini</a>, whose research had shown that neighborhood comparisons of energy use had a huge impact on reducing consumption.</p>

<p>Dan cold-called Professor Cialdini, sold him on the vision, and he joined as Chief Scientist.  Together, Dan and Alex created a prototype utility bill based on Dr Cialdini&rsquo;s research.  After an enthusiastic response from the Palo Alto, CA, municipal utility, Alex contacted Dub Taylor, the head of Texas&rsquo; state energy office.  He said they should come down to Austin immediately to give their testimony for a bill being considered in the legislature that would open the door for home energy efficiency.</p>

<p>After conversations with the Texas Public Utilities Commission, the head of Texas&rsquo; energy office, environmentalists, utilities, and legislators, Alex gave testimony at 3am before the state legislature&rsquo;s energy committee.  Soon thereafter, bill HB-3693 was passed.  With a law in place, Dan and Alex knew that they had to hit the go button; OPOWER was born.</p>

<h2 class="strong">OPOWER TODAY</h2>

<p>Since 2007, OPOWER has helped people <a href="http://www.opower.com">save energy, money, and reduce carbon</a>.  We built an all-star team [INSERT LINK TO LINKEDIN], raised funding from NEA,  and brought on 7 of the 10 largest utilities in the US.   OPOWER&rsquo;s revenue growth and headcount has grown over 300% annually since founding to over $30mm in recurring revenue, and we are cash flow positive.  Our energy savings impact is doubling every six months. By the end of 2010 we will be saving as much energy as 1/3 of all the solar panels installed in the US.</p>

<h2>OUR VISION</h2>

<p>OPOWER aspires to become the first global energy efficiency company.  We see a future where energy information is readily available in all the moments and places where needed to help people save energy, save money, and reduce emissions.</p>

<p>Whether you&rsquo;re diagnosing a high bill, hoping to make use of your new smart meter, at a big box retailer choosing a water heater, receiving a coupon from your utility, finding tips online from energy experts in your neighborhood, or competing to save energy with your friends on Facebook, OPOWER wants to be there to bring you individualized, easy-to-use analytics and energy saving recommendations.</p>

<p>Energy efficiency is one of the biggest remaining approaches for emissions reduction.  McKinsey & Company sizes the current US energy efficiency opportunity at >$10B annually, and expects that to grow to $40-$50Bn over the coming decade.</p>

<p>And it doesn&rsquo;t stop at the US.  OPOWER is already heading abroad to help people around the world make smarter energy decisions.</p>

<p>Our growth is limited only by the number of extraordinary people we can find to help us implement these ideas and dream up more ways to make a difference.</p>

</div>