<div class="content">

    <h2>Video Library</h2>
    <h3>Learn a bit more about us through the miracle of moving pictures</h3>


    <div id="tabs">
	<ul class="clearfix">
		<li><a href="#tabs-1">Life at OPOWER</a></li>
		<li><a href="#tabs-2">The Printing Process</a></li>
		<li><a href="#tabs-3">Chief Hula Officer</a></li>
	</ul>

    <div class="flag clearfix" style="margin-top: -5px">
    
    	<div id="tabs-1">
            <iframe src="http://player.vimeo.com/video/14306186?byline=0&amp;portrait=0" width="660" height="371" frameborder="0"></iframe>
    	</div>
    	<div id="tabs-2">
    		<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
    	</div>
    	<div id="tabs-3">
            <iframe src="http://player.vimeo.com/video/14507524?byline=0&amp;portrait=0" width="660" height="371" frameborder="0"></iframe>
            CEO of OPOWER Dan Yates – and his mustache – gets groovy.
    	</div>
    
    </div>		
</div>

<script type="text/javascript">
    window.onload = function() {
        $("#tabs").tabs();
    };
</script>

</div>
