<div class="content">

    <h2>It's about as fun as it sounds</h2>
    <h3>[Insert witty subtitle]</h3>


    <div class="large-text space-bottom">
        
        <p>So this is the part where we're supposed to tell you how fun it is to work here.  But we didn't build our business by following convention, so let us show you instead. </p>
        <p>Below are excerpts of recent OPOWER life.  Some of this stuff, frankly, is pretty embarrassing. Other stuff, like <a href="#obama">President Obama coming to visit us</a>, is pretty OWESOME. And yes, we do have a cheesy tendency to put the letter "O" in front of all kinds of words. That is, for better or worse, also part of the OPOWER experience.        </p>
        <p><a href="/departments">We're hiring</a>, so we hope to see you in the next batch of embarrassing photos.  And hurry, our holiday party is coming up fast!</p>

    </div>
        <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-0 clearfix">
        
        <a name="boat"></a>
        <h4><span class="highlight">Quarterly Company Outing, Summer 2010 – <strong>O</strong> on a Boat!</h4>

        <div class="span-10">
            
            <p>We've always prided ourselves on our internal transparency, and our quarterly meetings are candid updates on our company growth. We come out of those meetings feeling pretty good, so we've started a new tradition here at OPOWER – quarterly meetings are now followed by an "all hands on deck" party. This summer we took a boat around the Potomac for the afternoon – open bar, DJ and dancing. What a way to spend a Wednesday.    </p>  
            
        </div>
        <div class="span-7 last gallery">
            <a href="css/theme/photos/boat-0.jpg" class="fancybox" rel="boat" title="Click on the right or left to cycle"><img src="css/theme/photos/boat-0.jpg" /></a>
            <a href="css/theme/photos/boat-1.jpg" class="fancybox" rel="boat"></a>
            <a href="css/theme/photos/boat-2.jpg" class="fancybox" rel="boat"></a>
            <a href="css/theme/photos/boat-3.jpg" class="fancybox" rel="boat"></a>
            <a href="css/theme/photos/boat-4.jpg" class="fancybox" rel="boat"></a>
        </div>
    
    </div>    
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-1 clearfix">
    
        <a name="innovation"></a>
        <h4><span class="highlight">Innovation Day, Summer 2010</h4>
        
        <div class="span-10">
            
            <p>On Innovation Day, everyone got an opportunity to shut out the outside world to focus on developing innovative ideas. The results were mind-blowing, and will help shape the future of the company.</p>
            <p>OPOWER CEO, Dan Yates, developed the company's first 'Values' video.  "Trust us, we make software better than we make movies..."</p>
            
        </div>
        <div class="span-7 last gallery">
            <a href="css/theme/photos/innovation-0.jpg" class="fancybox" rel="innovation" title="Click on the right or left to cycle"><img src="css/theme/photos/innovation-0.jpg" /></a>
            <a href="css/theme/photos/innovation-1.jpg" class="fancybox" rel="innovation"></a>
            <a href="css/theme/photos/innovation-3.jpg" class="fancybox" rel="innovation"></a>
            <a href="css/theme/photos/innovation-4.jpg" class="fancybox" rel="innovation"></a>
            <a href="css/theme/photos/innovation-5.jpg" class="fancybox" rel="innovation"></a>
            <a href="css/theme/photos/innovation-6.jpg" class="fancybox" rel="innovation"></a>
            <a href="css/theme/photos/innovation-7.jpg" class="fancybox" rel="innovation"></a>
            <a href="css/theme/photos/innovation-8.jpg" class="fancybox" rel="innovation"></a>
            <a href="css/theme/photos/innovation-9.jpg" class="fancybox" rel="innovation"></a>
        </div>
        
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-0 clearfix">
    
        <a name="cinco"></a>
        <h4><span class="highlight">Viva Cinco de Mustache! – May 5, 2010</h4>

        <div class="span-10">
            <p>A bona fide OPOWER tradition, now three years running. Started by a small group of engineers, and now embraced by the entire company (and both genders). For an entire month leading up to Cinco de Mayo, members of the engineering team refrain from shaving.</p>
            <p>On May the 5<sup>th</sup>, they shave their beards and bring to work their most creative mustaches. We'll let the photos speak for themselves on this one. (Remember – we told you part of this website was embarrassing.)</p>  

        </div>
        <div class="span-7 last gallery">
            <a href="css/theme/photos/cinco-0.jpg" class="fancybox" rel="cinco" title="Click on the right or left to cycle"><img src="css/theme/photos/cinco-0.jpg" /></a>
            <a href="css/theme/photos/cinco-1.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-3.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-4.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-5.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-6.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-7.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-8.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-9.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-10.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-11.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-12.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-13.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-14.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-15.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-16.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-17.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-18.jpg" class="fancybox" rel="cinco"></a>
            <a href="css/theme/photos/cinco-19.jpg" class="fancybox" rel="cinco"></a>
        </div>
        
    </div>    
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-1 clearfix">

        <a name="obama"></a>
        <h4><span class="highlight">Obama Visits OPOWER – March 5, 2010</h4>

        <div class="clearfix space-bottom">
            <p>It's not every day that the President of the United States stops by your office to deliver a televised speech and commend the company on its achievements.  POTUS spent a good 35 minutes at our office, which included a 20-minue speech and 15 minutes of handshakes and photos.</p>
        </div>
        
    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="alternate-0 clearfix">
    
        <a name="holiday"></a>
        <h4><span class="highlight">OPOWER Holiday Party – Winter, 2009</h4>

        <div class="span-10">
            <p>This one is quite self explanatory. Open bar, DJ and dancing at a downtown DC club.</p>
        </div>
        
        <div class="span-7 last gallery">
            <a href="css/theme/photos/holiday-0.jpg" class="fancybox" rel="holiday" title="Click on the right or left to cycle"><img src="css/theme/photos/holiday-0.jpg" /></a>
            <a href="css/theme/photos/holiday-1.jpg" class="fancybox" rel="holiday"></a>
            <a href="css/theme/photos/holiday-2.jpg" class="fancybox" rel="holiday"></a>
            <a href="css/theme/photos/holiday-3.jpg" class="fancybox" rel="holiday"></a>
            <a href="css/theme/photos/holiday-4.jpg" class="fancybox" rel="holiday"></a>
            <a href="css/theme/photos/holiday-5.jpg" class="fancybox" rel="holiday"></a>
            <a href="css/theme/photos/holiday-6.jpg" class="fancybox" rel="holiday"></a>
            <a href="css/theme/photos/holiday-7.jpg" class="fancybox" rel="holiday"></a>
        </div>
        
    </div>
    
</div>