<div class="content">

    <h2>It's about as fun as it sounds</h2>
    <h3>[Insert witty subtitle]</h3>


    <div class="large-text">
        
        <p>
            So this is the part where we're supposed to tell you how fun it is to work here.  But we didn't build our business by following convention, so let us show you instead. 
        </p>
        <p>
            Below are excerpts of recent OPOWER life.  Some of this stuff, frankly, is pretty embarrassing. Other stuff, like President Obama coming to visit us {link to Obama stuff}, is pretty OWESOME. And yes, we do have a cheesy tendency to put the letter "O" in front of all kinds of words. That is, for better or worse, also part of the OPOWER experience.        
        </p>
        <p>
            <a href="/">We're hiring</a>, so we hope to see you in the next batch of embarrassing photos.  And hurry, our holiday party is coming up fast!        
        </p>

    </div>
    
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    
    <h4><span class="highlight">Quarterly Company Outing, Summer 2010 – <strong>O</strong> on a Boat!</h4>
        


    <div class="clearfix">
        <div class="span-7">
            <img src="css/theme/photos/boat-0.jpg" width="260" />
        </div>
        <div class="span-10 last">
            <p>
                We've always prided ourselves on our internal transparency, and our quarterly meetings are candid updates on our company growth. We come out of those meetings feeling pretty good, so we've started a new tradition here at OPOWER – quarterly meetings are now followed by an "all hands on deck" party. This summer we took a boat around the Potomac for the afternoon – open bar, DJ and dancing. What a way to spend a Wednesday.    
            </p>  
        </div>
    </div>
    
Main picture: http://www.flickr.com/photos/45518683@N04/4865584769/in/set-72157624541812257/
Other picture selection – Alexa to choose – GM already has some photo links from the original ‘Life at OPOWER' draft emailed 8/12
Innovation Day – x.x.2010!
One day out of the year we have something called Innovation Day – a day when we shut off our email and phones, divide the company into teams and work on whatever we want! It could mean coding up a new software module that never made into the official product roadmap. Or if you're not an engineer, it could mean filming a video explaining our company's values{link to values video}.
Below are some photos of what people were able to build in less than a day – impressive!




    <div class="clearfix">
        
        <div class="span-10">
        </div>

    </div>
</div>