/*
    base.css
    ---------------------------------------------------------
    Table of contents:
        - HTML
        - Global Classes
            -- General
        - Global Colors
        - Global Sections
            -- Banner
            -- Content

    ---------------------------------------------------------
*/


/* HTML
-------------------------------------------------------------- */

body {
    background-color: #ffffff; /* replace with ei.styles.siteWide.body.backgroundColor */
    color: #222;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0; /* replace with ei.styles.siteWide.body.margin */
   font-family: 'ProximaNovaRegular',Arial,sans-serif;
    height:100%;
}


h1 {
    font-family: ProximaNovaBold, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 50px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3, h4 {
    font-size: 16px;
    line-height: 20px;
}

h5 {
    font-size: 16px;
    font-weight:normal;
}

h6 {
    font-size: 24px;
    font-weight: normal;
    line-height:30px;
}

.small h3, .small h4 {
    font-size: 12px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    outline: hidden;
}

strong, .strong {
    font-weight: normal;
    font-family: ProximaNovaBold, Arial, sans-serif;
}

small, .small {
    font-size: 12px;
    line-height: 12px;
}
.page-title {
    font-size: 20px;
    line-height: 25px;
    color: #888;
}


/* Global Classes
-------------------------------------------------------------- */

/* General
------------------------------ */
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.capitalize {
    text-transform: capitalize;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}


.display-none {
    display: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.hide {
    left: -9999px;
    position: absolute;
}

.dyna-hide { position:absolute; left:-99999px; width: 1px; height:1px; overflow: hidden; }

.no-space {
    /* For over-riding unwanted margins in some global classes */
    margin: 0 !important;
}

.padding {
    padding: 20px;
}

.rounded { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }


.rounded-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.rounded-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.rounded-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.rounded-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

.rounded-left {
    -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
}

.rounded-right {
    -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
}

.separator {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.separator-2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.separator-top {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}
.space-top {
    margin-top: 20px;
}

.space-bottom {
    margin-bottom: 30px;
}

.space-top-small {
    margin-top: 10px;
}

.space-bottom-small {
    margin-bottom: 10px;
}

.shadow {
    -moz-box-shadow: 0px 2px 1px #ccc;
    -webkit-box-shadow: 0px 2px 1px #ccc;
    box-shadow: 0px 2px 1px #ccc;
}

/* Global Colors
-------------------------------------------------------------- */
/* Brand: Color*/
a { color: #3bc; /* replace with ei.styles.siteWide.link */ }


/* Lists
 -------------------------*/
ul.list li:before {
    content: "\2022 \0020";
}


/* Grid Overlay
------------------------------ */
#grid-overlay {
    filter: alpha(opacity=70);
    height: 100%;
    left: 50%;
    margin-left: -470px;
    opacity:0.7;
    position: absolute;
    width: 940px;
}


/* Definition List
----------------------------- */
DL.inline {
    display: inline;
}
DL.inline DT {
    display: inline;
    font-family: ProximaNovaBold, Arial, sans-serif;
}

DL.inline DD {
    display: inline;
}

