a.button, a:hover.button {
    text-align: center;
    text-decoration: none;
}

.button, .orange-button {
    -webkit-box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 3px;
    background: #bbb url(theme/overlay-button.png) repeat-x top left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;

    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    overflow: visible;
    padding: 7px 30px 6px;
    position: relative;
    text-shadow: rgba(255, 255, 255, 1) 1px 1px 0px;
    text-transform: uppercase;
    width: auto;
}

a:hover.button {
    color: #555;
    background-color: #999;
}
a:active.button {
    -webkit-box-shadow: none;
    background-color: #666;
    color: rgba(0,0,0,0.4);
    text-shadow: none;
}

.button-small {
    font-size: 14px;
    padding: 5px 10px 5px;
}

.button-left, .button-right {
    -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
}

.button-left {
    -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px;
    border-right: 1px solid #a4e9ff;
}

.button-right {
    border-left: 1px solid #1b8cb0;
    -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px;
}


/* Colors ---------- */
.orange-button {
    background-color: #ff8400;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0px;
}
a:hover.orange-button {
    background-color: #ff6600;
    color: #ffffff;
}
a:active.orange-button {
    background-color: #ff3c00;
}


.blue-button {
    background-color: #2fa7c4;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0px;
}
a:hover.blue-button {
    background-color: #2bc1e5;
    color: #ffffff;
}
a:active.blue-button {
    background-color: #04618c;
}
