/* Buttons
------------------------------ */

.button {
    background: url(../../images/layout/background-grayGradient.png) 0 0 repeat-x;
    border: 1px solid #888;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px; /* CR: Can we kill this? It only works when buttons are display: block, but it makes buttons too big. */
    text-align: center;
}

.button:hover {
    background: #eee;
    text-decoration: none;
}

.button:active {
    background-color: #888;
    color: #fff;
}

a.button {
    color: #000;
}

/* Square button (ex: View Selector) */

a.button-square, a.button-square:hover {
    background: #eee url(../../images/bgGradient-eee-ccc.png) bottom left repeat-x;
    display: block;
    font-size: 11px;
    font-weight: normal;
    padding: 5px;
    text-align: center;
    width: 60px;
}

a.button-square:hover {
    border: 2px solid #888;
    padding: 4px;
}

a.button-square:active {
    background: #888;
}

/* Navigation Arrow Buttons */

ul.navigation-buttons {
    list-style-type: none;
}

ul.navigation-buttons li {
    float: left;
}

ul.navigation-buttons li a, ul.navigation-buttons li div.disabled {
    background: #eee url(../../images/bgGradient-fff-eee.png) repeat-x bottom center;
    border: 1px solid #ccc;
    display: block;
    height: 10px;
    line-height: 30px;
    padding: 10px;
    width: 10px;
}

ul.navigation-buttons li div.disabled {
    background-image: none;
    border-color: #eee;
}

ul.navigation-buttons li a:hover,
ul.navigation-buttons li a:active {
    border: 2px solid #888;
    height: 28px;
    padding: 0 9px;
}

ul.navigation-buttons li a:active {
    background: #ccc;
}

ul.navigation-buttons li a .icon-arrow, ul.navigation-buttons li div.disabled .icon-arrow{
    margin: -5px 0 0 -5px;
}

ul.navigation-buttons li a:hover .icon-arrow {
    margin-top: 4px;
}



