BODY {
    line-height: 1.5em;
    margin-top: 10px;
    -webkit-font-smoothing: subpixel-antialiased;

}


BODY.fancybox-visible {
    height:100%;
    overflow:hidden;
    margin-right: 15px;
}

A, .link {
    color: #0099DD;
}

A:hover {
    color: #5EB7DF;
}

A:focus,
A:active {
    outline: none;
}


H1 {
    display: none;
    color: #777;
    padding: 20px 0 0 47px;
}

P {
    padding: 0 0 10px 0;
}

H2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
}

.content h2 {
    font-size: 35px;
    line-height: 1em;
    text-rendering: optimizeLegibility;
}

.content h2.single {
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.content h3 {
    color: #aaa;
    margin-bottom: 12px;
    padding: 10px 0;
    font-size: 18px;
}

.content h3.line {
    border-bottom: 1px solid #ccc;
}

.content h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px;
}

.content .highlight {
    display: block;
}

.content p {
    margin-bottom: 15px;
}

.large-text p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}

.shadowed {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.page UL, .no-bullet {
    list-style-type: none !important;
    margin-bottom: 20px;
}
.page LI, UL.no-bullet LI {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 5px 0 5px 0px;
    line-height: 120%;
}


.job UL {
    list-style-type: disc;
}
.job LI, ul.list LI {
    margin: 0 0 0 40px;
    padding: 5px 0 10px 0px;
    line-height: 120%;
}

ul.list LI {
    margin: 0;
}

/* Footer */

.footer {
    color: #0079a5;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #00516e;
}

/* Teams page */
.page-teams ul.teams li {

    float: left;
    width: 330px;
}

.page-teams ul.teams li a {
    display: block;
    float: left;
    font-size: 16px;
    height: 50px;
    padding: 10px 0;
    width: 300px;
}

.page-teams ul.teams li a span {
    display: block;
    float: left;
    margin: 10px 0 0 20px;
    width: 220px;
}

/* Tabs */

.ui-tabs .ui-tabs-hide {
     display: none;
}

#tabs ul {
    margin: 0;
    padding: 0;
}

#tabs ul li {
    border: none;
    float: left;
}

#tabs ul li a {
    background: #eee;
    color: #333;
    display: block;
    font-size: 16px;
    height: 30px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    
    
    text-shadow: rgba(255,255,255, 0.2) 1px 2px 0px;
    -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;
}

#tabs ul li a:hover {
    background: #ccc;
} 

#tabs ul li.ui-tabs-selected a {
    background: #ff8400 url(theme/overlay-button.png) repeat-x top left;
    color: #fff;
    text-shadow: rgba(0,0,0, 0.2) 1px 2px 0px;
}
