BODY {
    line-height: 1.5em;
    margin-top: 10px;
    -webkit-font-smoothing: subpixel-antialiased;

}


BODY.fancybox-visible {
    height:100%;
    overflow:hidden;
    margin-right: 15px;
}

A, .link {
    color: #0099DD;
}

A:hover {
    color: #5EB7DF;
}

A:focus,
A:active {
    outline: none;
}


H1 {
    display: none;
    color: #777;
    padding: 20px 0 0 47px;
}

P {
    padding: 0 0 10px 0;
}

H2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
}

.content h2 {
    font-size: 35px;
    line-height: 1em;
    text-rendering: optimizeLegibility;
}

.content h2.single {
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.content h3 {
    color: #aaa;
    margin-bottom: 12px;
    padding: 10px 0;
    font-size: 18px;
}

.content h3.line {
    border-bottom: 1px solid #ccc;
}

.content h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px;
}

.content .highlight {
    display: block;
}

.content p {
    margin-bottom: 15px;
}

.large-text p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}

.shadowed {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.page UL, .no-bullet {
    list-style-type: none !important;
    margin-bottom: 20px;
}
.page LI, UL.no-bullet LI {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 5px 0 5px 0px;
    line-height: 120%;
}


.job UL {
    list-style-type: disc;
}
.job LI, ul.list LI {
    margin: 0 0 0 40px;
    padding: 5px 0 10px 0px;
    line-height: 120%;
}

ul.list LI {
    margin: 0;
}

/* Footer */

.footer {
    color: #0079a5;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #00516e;
}



/* All Jobs page*/

.page-all h4 {
    line-height: 20px !important;
}

/* Autocomplete
----------------------------------*/
.ui-autocomplete {
    background: #fff;
}
