ul.dropdown li {
    border: none;
    margin: 0;
    padding: 0;
}

ul.dropdown li.target {
    background: #fff url(theme/bgGradient-fff-eee.png) repeat-x bottom center;    
    border: 2px solid #ccc;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 18px;
    padding: 8px 10px;
    position: relative;
    width: 220px;
    
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

ul.dropdown li.target:hover {
    border-color: #aaa;
}

ul.dropdown li.active {   
    border: 2px solid #aaa;
    border-bottom: none;
    -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px;
}

ul.dropdown .arrow {
    border-left: 1px solid #ccc;
    
    display: block;
    float: right;
    height: 34px;
    margin: -8px -10px 0 0;
    width: 30px;    
}

ul.droplink {
	list-style: none;
	margin: 0;
	width: 230px;
}
ul.droplink li {
    display: block;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.droplink li a {
	display: block;
	text-decoration: none;
}

ul.droplink li ul.subnav {
    background: #fff url(theme/bgGradient-fff-eee.png) repeat-x bottom center;     
    border: 2px solid #aaa;
    border-top: 1px dotted #aaa;
	display: none;
	float: left;
	left: 0; 
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	margin: 0; padding: 0;
	top: 0px;
	width: 240px;
	z-index: 1000;

    -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
}
ul.droplink li ul.subnav li{
	margin: 0; 
	padding: 0;
	clear: both;
}
html ul.droplink li ul.subnav li a {
	display: block;
	border-bottom: 1px solid #ccc;
    padding: 10px 10px;
}
html ul.droplink li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #eee;
	color: #333;
}
