/* Styles used for all graphs */

/* graph needs to have an explicitly height & width - set it in the page specific css */
.graph {
    position: relative;
}

.graph .paper {
    position: relative;
    width: 620px;
    height: 270px;
}

.graph .graph-tooltip {
    border: none;
    background: transparent url(../../images/Triangle-down.png) bottom center no-repeat;
    padding: 0 0 10px 0;
    left: -1000px;
    position: absolute;
    width: 120px;
    z-index: 3;
}

.graph .graph-tooltip .tooltip-content {
    border: 4px solid #ccc;
    font-size: 12px;
    line-height: 15px;
    padding: 5px;
    text-align: center;
}



/* Graph error
------------------------------ */
#graph-error {
    font-size: 12px;
    left: 40px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 540px;
}

.graph .graph-tooltip .flag {
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

.graph .graph-tooltip.date {
/* nothing special */
}

.graph .graph-tooltip .total {
    font-weight: bold;
}

.graph .x-ticks li {
    padding-top: 5px;
}
.graph .y-ticks li,
.graph .x-ticks li,
.graph .point-label {
    color: #888;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    text-align: center;
}

.graph .x-ticks.x2 li {
    color: #222;
    font-size: 14px;
}

.graph .point-label {
    white-space: nowrap;
}

/* Point flags */
.graph .point-flag {
    position: absolute;
    text-align: center;
    font-size: 12px;
}

.graph .peak-flag {
    position: absolute;
    text-align: center;
    background: transparent url(../../images/Triangle-down.png) bottom center no-repeat;
    width: 70px;
    padding: 0 0 10px 0;
}

.graph .peak-flag .peak-content {
    color: #000;
    background-color: #fff;
    border: 4px solid #ccc;
    padding: 5px;
    text-align: center;
}

.graph .hourly-ticks {
    font-size: 12px;
    padding-left: 50px;
    padding-right: 24px;
    height: 40px;
    position: relative;
}

.graph .hourly-ticks DIV {
    height: 40px;
    float: left;
    position: relative;
}

.graph .hourly-ticks .morning {
    width: 30%;
}

.graph .hourly-ticks .day {
    width: 50%;
}

.graph .hourly-ticks .night {
    width: 20%;
}

.graph .hourly-ticks SPAN {
    padding: 0 2px;
    top: 0;
}

.graph .hourly-ticks .icon {
    position: absolute;
    top: 20px;
    width: 38px;
    height: 38px;
}

.graph .hourly-ticks .morning .icon {
    left: 4%;
}

.graph .hourly-ticks .day .icon {
    left: 36.5%;
}

.graph .hourly-ticks .night .icon {
    left: 76%;
}

.graph .hourly-ticks .right {
    position: absolute;
    top: 0;
    right: 0;
}

.graph .hourly-ticks .middle {
    position: absolute;
    top: 0;
    left: 35%;
}