.flag {
    background: transparent url(theme/background-flag.png) bottom center no-repeat;
    color: #fff;
    display: block;
    margin-left: -30px;
    padding: 20px 30px 30px;
    width: 660px;
}

.flag-gray {
    background: transparent url(theme/background-flag-gray.png) bottom center no-repeat;
}

.flag a {
}


.flag ul {
    margin: 0;
    padding: 0;
}

.flag ul li {
    border: none;
    margin: 0;
    padding: 0;    
}

.flag h5 {
    line-height: 30px;
}

.flag a {
    color: #fff;
}

.flag iframe {
    border: 3px solid #fff;
    margin-left: -3px;
    -moz-box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
}