.flag {
    background: transparent url(theme/background-flag.png) bottom center no-repeat;
    color: #fff;
    display: block;
    margin-left: -30px;
    padding: 20px 30px 30px;
    width: 660px;
}

.flag-gray {
    background: transparent url(theme/background-flag-gray.png) bottom center no-repeat;
}

.flag a {
}


.flag ul {
    margin: 0;
    padding: 0;
}

.flag ul li {
    border: none;
    margin: 0;
    padding: 0;    
}

.flag h5 {
    line-height: 30px;
}

.flag a {
    color: #fff;
}

.flag iframe {
    border: 5px solid #076786;
    margin-left: -5px
}