

.flag {
    background: transparent url(theme/background-flag.png) 0 0 no-repeat;
    display: block;
    height: 80px;
    margin-left: -30px;
    width: 720px;
}


/*.flag {
  position: absolute;

  font-weight: bold;
  text-transform: uppercase;
  color: #3D1F12;
  font-size: 1.4em;
  border: solid 1px #fff;
  top: 14px;
  left: -3px;
  width: 380px;
  margin: 0;

  text-shadow: rgba(255,255,255,0.5) 0 1px 0;

  -webkit-box-shadow: rgba(0,0,0,0.3) 1px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 1px 1px 3px;
  box-shadow: rgba(0,0,0,0.3) 1px 1px 3px;

  -webkit-transform: skew(-10deg,0deg);
  -moz-transform: skew(-10deg,0deg);
  transform: skew(-10deg,0deg);
  padding:0;
}

.flag,
.flag em {
}

.flag em {
  text-indent: 47px;
  padding: 4px 0 4px 0;
  margin: -1px 5px -1px -6px;
  border: solid 1px #fff;
  border-right: 0;
  display: block;
  -webkit-transform: skew(10deg,0deg);
  -moz-transform: skew(10deg,0deg);
  transform: skew(10deg,0deg);
  font-style: normal;
}

.flag:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 3px #fff;
  border-color: transparent #FFC32C #FFC32C transparent;
  position: absolute;
  top: -7px;
  left: -7px;

  -webkit-transform: skew(10deg,0deg) translate(-1px,0);
  transform: skew(10deg,0deg);
}*/