.icon {
    background-color: transparent;
    background-image: url(theme/icons.png);
    background-repeat: no-repeat;
    display: block;
    height: 140px;
    width: 180px;
}

.icon-lightbulb     { background-position:   0px 0px; }
.icon-people        { background-position:   0px -140px; }
