.icon {
    background-color: transparent;
    background-image: url(theme/icons.png);
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    width: 100px;
}

.icon-computer  { background-position:   0px 0px; }
.icon-mouse     { background-position:   -100px 0px; }