.job .gridpopper-banner {
    background-color: #0099DD;
    color: white;
    padding-bottom: 20px;
    height: auto;

    margin-left: -20px;
    width: 780px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.job .banner {
    margin-bottom: 23px;
}

.job .banner .title {
    font-size: 35px;
    line-height: 0.8em;
    text-rendering: optimizeLegibility;
}

.job .banner .location {
    border-bottom: 1px solid #ccc;
    color: #aaa;
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 18px;
}

.job .description {
}

.job .description STRONG {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
}

.job .similar {
    background: #eee;
    padding: 10px;
    margin-top: 20px;
}
.job .similar A {
}

.job .company {
    border-top: 1px solid #ccc;
    margin: 20px 0;
    padding-top: 20px;
}

.job .disclaimer {
    color: #bbb;
    margin: 20px 0 0;
}

.job .inline {
    background-color: #F9EBA5;
    float: right;
    margin: 10px 0 20px 20px;
    padding: 20px;
}

.job .inline .button {
    display: block;
    margin: 10px 0;
    text-align: center;
}
