.job .gridpopper-banner {
    background-color: #0099DD;
    color: white;
    padding-bottom: 20px;
    height: auto;

    margin-left: -20px;
    width: 780px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}



.job .banner .title {
    font-size: 35px;
    line-height: 0.8em;
    text-rendering: optimizeLegibility;
}

.job .banner .location {
    padding-top: 10px;
    color: #ccc;
    font-size: 18px;
}

.job .description {
    padding-top: 20px;
}

.job .description STRONG {
    padding-top: 30px;
    font-size: 20px;
    display: block;
}

.job .similar {
    padding: 10px;
    background-color: #0099DD;
    color: white;
    margin-top: 20px;
}
.job .similar A {
    color: yellow;
}

