.job .gridpopper-banner {
    background-color: #0099DD;
    color: white;
    padding-bottom: 20px;
    height: auto;

    margin-left: -20px;
    width: 780px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.job .banner {
    margin-bottom: 23px;
}

.job .banner .title {
    font-size: 35px;
    line-height: 1em;
    text-rendering: optimizeLegibility;
}

.job .banner .location {
    color: #aaa;
    margin-bottom: 10px;
    padding: 20px 0 0;
    font-size: 18px;
    line-height: 33px;
}

.job .description {
}

.job .description BR {
   clear: both;
   margin-bottom: 5px;
   display: block;
}

.job .description STRONG {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
}

.job .similar {
    background: #eee;
    padding: 10px;
    margin-top: 20px;
}

.job .similar A {
}

.job .company {
    padding-top: 20px;
}

.job .disclaimer {
    color: #bbb;
    margin: 20px 0 0;
}

.job .disclaimer P {
    padding: 0;
}

.job .inline {
    background-color: #F9EBA5;
    margin: 0 0 20px;
    padding: 20px 20px 0;
}

.job .inline .button {
    display: block;
    text-align: center;
}

.job .shorturl input {    
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: none;
    font-size: 10px;
    outline: none;
    padding: 4px 7px;
    width: 120px;
}
