.logo {
    cursor: pointer;
}



.body {
    -moz-border-radius: 4px;
    margin-bottom: 10px;

    -webkit-border-radius: 4px;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: white;
    padding-top: 20px;

}


.section {
    padding: 0 0 20px 20px;
}


.content div.strong {
    font-size: 12px;
    text-transform: uppercase;
}

.quote {
    padding-left: 47px;
    font-size: 12px;
}

.content ul {
    padding-bottom: 10px;
}



.devonly {
    font-size: 20px;
    line-height: normal;
    background-image: url(images/button.png);
    width: 400px;
    height: 34px;
    display: inline-block;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.button {
    color: black;
    padding: 8px 40px;
    display: inline-block;
}


.ui-menu li {
    font-size: 12px;
    line-height: 1.1em;
}

.ui-menu .ui-menu-item a {
    font-size: 12px;
    line-height: 1.1em;
}

#q {
    width: 400px;
    margin-bottom: 30px;
}

.ui-menu-item a .sub {
    color: #777;
}

.ui-menu-item a:hover .sub {
    color: white;
}

.placeholder { color: #777; }

.overiframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: white;
}

.tabs LI A,
.sub_nav A  {
    width: 100%;
    display: inline-block;
    padding: 0 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

}
.tabs LI A:hover,
.sub_nav A:hover {
    text-decoration: none;
    background: #5EB7DF;
    color: white;
    -moz-border-radius: 10px;
}

.tabs LI A.current,
.sub_nav A.current {
    background: #0099DD;
    color: white;
}

.job_nav {
    padding-bottom: 30px;

}

.sub_nav A {
    text-align: center;
}

