.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu  li {
    border-bottom: none;
    margin: 0;
    padding: 0;
    position:relative;
    white-space: nowrap;
}

.menu  li:hover {
    background-position: 0 -40px;
}

.menu  li a,
.menu  li .shorturl {
    display: block;
    text-decoration: none;
}

.menu li a:hover {
    color: #a3f1d7;
}

.menu  li ul {
    opacity: 0;
    position: absolute;
    left: 0;
    background: rgba(27, 140, 176, 1);
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.menu  li:hover ul {
    opacity: 1;
    z-index: 1000;
}

.menu  li ul li {
    float: none;
    position: static;
    height: 0;
    line-height: 0;
    background: none;
}

.menu  li:hover ul li {
    height: 30px;
    line-height: 30px;
}

.menu  li ul li a {
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.menu  li ul li a:hover {
    background: rgba(255,255,255,0.2);
    color: white;
}

.menu  li {
    -webkit-transition: all 0.1s;
}

.menu  li a {
    -webkit-transition: all 0.2s;
}

.menu  li ul {
    -webkit-transition: all 0.2s;
}

.menu  li ul li {
    -webkit-transition: height 0.1s;
}


.addthis_toolbox .vertical a
{
    padding: 0 0 0 34px;
    position: relative;
    display: block;
}

.addthis_toolbox .vertical span
{
    position: absolute;
    left: 14px;
    top: 6px;
}

.addthis_toolbox .vertical .more
{
    border-top: solid 1px #eee;
    padding: 10px 0 0 0;
    margin: 10px 10px 0 10px;
    text-align: center;
}

.addthis_toolbox .vertical .more a
{
    padding: 4px 0;
    margin: 0;
}

.addthis_toolbox .vertical .more span
{
    display: none;
}