.nav {
}

.nav A {
    padding: 20px 10px 0 0;
    font-size: 18px;
    height: 50px;
    display: block;
    color: white;
}

.nav A.active {
    background: purple;
    color: white;
}

.nav A:hover {
    text-decoration: none;
}

