.navigation {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 240px;
    position: absolute;
    font-family: Dagny, Helvetica, Arial, sans-serif;
}

.navigation a:hover {
    text-decoration: none;
}

.nav-main {
    margin: 20px 0 10px;
    background: #2288c5;
    box-shadow: -3px 1px 5px rgba(0, 0, 0, 0.2);

}

.nav-main li.parent {
    margin: 0;
}

.nav-main a {
    background: #2288c5;
    border-top: 1px solid #3b97cd;
    border-bottom: 1px solid #0871b2;
    color: #ffffff;
    display: block;
    padding: 10px 20px;
}

.nav-main li.parent a.active {
    background: white;
    color: #FF5800;
}


.nav-main a:hover {
    background: #0871b2;
    -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-left-radius: 8px;
}

.nav-main a:active, .nav-main a.active {
    background: rgba(27,140,176,1);
    color: #79bdd2;
}

.nav-main a.active {
    color: #ffffff;
}

.navigation .section-header {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 0 5px;
    text-shadow: rgba(0,0,0, 0.2) 1px 2px 0px;
}
