<!-- this is all inside a span-17 -->
<h2>Business Development</h2>
<h3>Blah blah blah.</h3>

        
<div class="span-10 first">
    Blah blah blah blah blah blah blah.
    <div class="all_departments"><a href="/departments">Have you seen our other departments?</a></div>
</div>
        
<div class="span-7 last">
    <div class="department-placeholder"></div>
    <div class="caption">We are cool.</div>
</div>