<!-- this is all inside a span-17 -->
<h2>Client Services and Operations</h2>
<h3>[tagline]</h3>

        
<div class="span-10">

    <p>The client services & operations team manages OPOWER’s deployments, working with data from more than ten million households every month. A high-octane team, including a literal rocket-scientist, this tight-knit clan is known for always delivering flawlessly within ambitious client timelines, and for its team mascot.</p>

    <div class="all_departments"><a href="/departments">Have you seen our other departments?</a></div>

</div>
        
<div class="span-4 push-3 last gallery">
    <a href="css/theme/photos/dept-clientSolutions.jpg" class="fancybox" title="Riley Dawg, Client Solutions mascot"><img src="css/theme/photos/dept-clientSolutions.jpg" /></a>
</div>