<!-- this is all inside a span-17 -->
<h2>Design and User Experience</h2>
<h3>[tagline]</h3>

<div class="span-10 first">
    <p>See something you think is cool about our website? You can thank the UX team. The only employees skilled enough to ride the unicycle, our graphic designers are responsible for everything from Plugee to the neighbor rank module & making people think differently about their energy use. No mascots here, but plenty of circus skills.</p>
    <div class="all_departments"><a href="/departments">Have you seen our other departments?</a></div>
</div>

<div class="span-7 last">
    <div class="department-placeholder"></div>
    <div class="caption">We are cool.</div>
</div>