<!-- this is all inside a span-17 -->
<h2>Client Services and Operations</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>
    
<div class="span-10">

    <p>The client services & operations team manages OPOWER's software deployments, ensuring that our platform successfully connects with back-end systems of nearly 40 utilities, collecting energy usage data for more than 20 million households across the country every month.</p>
    <p>This team of program managers, technical project managers and professional service engineers are in charge of managing the day-to-day relationship with our utility clients and making sure our product is properly deployed, configured and maintained over time to ensure maximum results.</p>
    <p>A high-octane team, with a rare combination of top-MBAs and expert computers scientist,  including a literal rocket-scientist, this tight-knit clan is known for delivering flawlessly within ambitious client timelines.</p>

</div>
        
<div class="span-7 last gallery">
    <a href="css/theme/photos/office-clientServices.jpg" class="fancybox"><img src="css/theme/photos/office-clientServices.jpg" /></a>
</div>