<!-- this is all inside a span-17 -->
<h2>Consumer Marketing Analytics</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-10 first">
    <p>The Consumer Marketing and Analytics organization creates energy savings results for OPOWER’s client base through targeted, multi-channel marketing campaigns. </p>
    <p>This team is made up of direct marketing gurus, online marketers, statisticians, talented analysts, and efficiency experts. Together, they turn mounds of data into targeted, actionable information and marketing outreach that drives consumer behavior change.</p>
    <p>In addition, all of our in-house Measurement & Verification efforts are conducted by the team, ensuring that the energy savings we deliver are well documented for our utility partners.</p>
</div>

<div class="span-7 last gallery">
    <a href="/photos/office-consumerMarketing.jpg" class="fancybox"><img src="/photos/office-consumerMarketing.jpg" alt="" /></a>
</div>