<!-- this is all inside a span-17 -->
<h2>Consumer Marketing Analysis</h2>
<h3>[tagline]</h3>

<div class="span-10 first">
    <p>OPOWER’s Insight Engine is the analytical backbone of the organization, and this is the team behind the backbone. The consumer marketing & analytics team turns mounds of data into targeted, actionable information that drives energy efficiency. Made up of direct marketing gurus, talented analysts, and efficiency experts, and Buddy the dog, the consumer marketing & analytics team is everyone’s best friend.</p>

    <div class="all_teams"><a href="/teams">Have you seen our other teams?</a></div>

</div>

<div class="span-7 last">
    <div class="department-placeholder"></div>
    <div class="caption">We are cool.</div>
</div>