<!-- this is all inside a span-17 -->
<h2>Consumer Marketing Analysis</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-10 first">

    <p>OPOWER’s Insight Engine&trade; is the analytical backbone of our software platform, and this is the team whose insights feed the engine.</p>
    <p>The Consumer Marketing & Analytics team is made up of direct marketing gurus, statisticians, talented analysts and efficiency experts. Together, they turn mounds of data into targeted, actionable information and present that information in ways that drive energy efficient actions.</p>
    <p>In addition, all of our in-house Measurement & Verification efforts are conducted by the team, ensuring that the energy savings we deliver are well documented for our utility partners.</p>

</div>

<div class="span-7 last">
    <div class="team-placeholder"></div>
</div>