<!-- this is all inside a span-17 -->
<h2>Corporate Marketing and Strategy</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-10 first">

    <p>The team behind the OPOWER brand, PR, corporate website, sales materials, white papers, market research and the mysterious meaning behind the letter ‘O’. </p>
    <p>The Corporate Marketing & Strategy team is responsible for deciphering industry trends, driving product strategy, keeping an eye on competition and conducting ongoing corporate strategy reviews.</p>
    <p>They are also in charge of making sure that our positive impact on the efficiency industry and the environment does not go unnoticed.</p>

</div>

<div class="span-7 last gallery">
    <img src="css/theme/photos/innovation-1.jpg" />    
</div>