<!-- this is all inside a span-17 -->
<h2>Corporate Marketing and Strategy</h2>
<h3>[tagline]</h3>

<div class="span-10 first">
    <p>The people behind the concept behind the idea, the corporate marketing & strategy team keeps its ear to the ground to decipher industry trends, set OPOWER’s strategic direction, and spread the good word about all the fantastic energy savings OPOWER is generating.</p>
    <div class="all_teams"><a href="/teams">Have you seen our other teams?</a></div>
</div>

<div class="span-7 last">
    <div class="team-placeholder"></div>
    <div class="caption">We are cool.</div>
</div>