<!-- this is all inside a span-18 -->
<h2>Engineering</h2>
<h3>The gears that keep that machine moving along</h3>

        
<div class="span-10 first">

    <p>Every rose has its thorn, and every software company must have an engineering team. This is the team that built a system capable of analyzing the energy use of 10 MM households. </p>

    <div class="all_teams"><a href="/teams">Have you seen our other teams?</a></div>
</div>
        
<div class="span-7 last">
    <div class="team-placeholder"></div>
    <div class="caption">Developers are cool.</div>
</div>