<!-- this is all inside a span-17 -->
<h2>Finance, HR, Operations and IT</h2>
<h3>[tagline]</h3>

<div class="span-10 first">
    <p>Makin' it happen left and right, the G&A team is the nexus of the company. Finance, administrative, human resources, and support staff help OPOWER's teams realize their missions. The G&A team makes sure OPOWER stays well rested, well fed, well paid, and well hydrated – even while we cruise the Potomac.</p>
    <div class="all_teams"><a href="/teams">Have you seen our other teams?</a></div>
</div>

<div class="span-7 last">
    <div class="department-placeholder"></div>
    <div class="caption">We are cool.</div>
</div>