<!-- this is all inside a span-17 -->
<h2>General & Administrative</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-10 first">
    <p>The G&A team makes sure OPOWER stays well rested, well fed, well paid, and well hydrated – even while we cruise the Potomac. Trust us, you want to be nice to these people..</p>
    <p>Our finance team ensures that we get our transportation supplements, our equity and our paychecks on time. Our HR team is in charge of giving us a sweet benefits package, and our IT department makes sure that whatever type of computer we choose, Mac, Lenovo or Dell, we’ll have a fast connections and a working VPN for when we work from home.</p>
    <p>And then there’s recruiting, responsible for all of us being here. This team has scaled OPOWER 150% in a year, and they’re working on hiring even more.</p>
</div>

<div class="gallery span-7 last">
    <img src="css/theme/photos/innovation-9.jpg" />
</div>s