
<h2><%= department_name %></h2>
<div class="span-10 first">
    This is what we do.  Type type type.
    <div class=""><a href="/teams">Have you seen our other teams?</a></div>
</div>
<div class="span-7 last">
    <div class="department-placeholder"></div>
    <div class="caption">The <%= department_name %> department doing something unproductive.</div>
</div>


