<!-- this is all inside a span-17 -->
<h2>General & Administrative</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-17">


<div class="gallery float-right" style="width: 220px;margin: 0 0 30px 30px">
    <img src="/css/theme/photos/innovation-9.jpg" alt=""/>
</div>

    <p>The G&A team ensures we have the technology, space, internal  programs, and resources that we need to get our jobs done.  Oh yeah, and the on-site massage therapists, food and fabulous outings which keep us laughing and sane.  Trust us, these fellow teammates are good people to know..</p>
    <p>Our finance team ensures that we continue to hit our financial goals and, minor point, ensure we receive our pay and equity on time.   Our HR team keeps improving our already sweet benefits package and keeps a stellar employee experience at the forefront of our culture.  Our IT department makes sure that whatever type of laptop we choose, Mac or PC, we’ll have a fast connection, a working VPN for when we work from home, and can stay connected with our bi-coastal colleagues.  Our Operations crew has the daunting task of keeping daily life humming around here, including keeping our communal kitchen fully stocked with food and drinks while also keeping up with the four office expansions we’ve already had in the past year and planning the next big expansion in 2011.</p>
    <p>And then there’s recruiting, responsible for all of us being here. This team led the drive to triple the size of OPOWER employees in the past 12 months, and they’re on track to triple our number of employees again in 2010.</p>
</div>