<h2>Government Affairs</h2>
<h3>[tagline]</h3>

<div class="span-10 first">
    <p>Experts in energy regulation, OPOWER’s internal policy think tank helps to educate utility regulators and ensure OPOWER clients receive full credit for their efficiency savings. Deem this team OPOWER’s regulatory backbone, with a 100% net-to-gross ratio!</p>
    <div class="all_teams"><a href="/teams">Have you seen our other teams?</a></div>
</div>

<div class="span-7 last">
    <div class="department-placeholder"></div>
    <div class="caption">We are cool.</div>
</div>