<h2>Product Management & User Experience</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-10 first">
    <p>This team is responsible for creating and executing against OPOWER’s product vision and making sure that OPOWER’s product delivers on the promise of energy efficiency through behavior change.</p>
    <p>Product development is a perpetual innovation machine – new product features strengthen customer engagement, expand our markets, and put OPOWER at the forefront of the energy efficiency ecosystem, ultimately redefining the way millions engage with and understand their day-to-day energy usage.</p>
    <p>Primarily composed of San Francisco ex-pats, the Product Development team is creating a new software development culture in DC, one latte at a time.</p>
</div>

<div class="span-7 last gallery">
    <a href="/css/theme/photos/office-ux.jpg" class="fancybox" title="User Experience Team self-portraits"><img src="/css/theme/photos/office-ux.jpg" alt=""/></a>
</div>