<h2>Product Management & User Experience</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-10 first">
    <p>This team is responsible for OPOWER’s product vision and making sure that OPOWER’s product reflects the latest research in efficiency and behavioral economics.</p>
    <p>Product development is a perpetual innovation machine – new product features strengthen customer engagement and drive deeper efficiency savings, ultimately redefining the way millions engage with and understand their day-to-day energy usage.</p>
    <p>Primarily composed of San Francisco ex-pats, the Product Development team is creating a new software culture in DC, one latte at a time.</p>
</div>

<div class="span-7 last">
    <div class="team-placeholder"></div>

</div>