<!-- this is all inside a span-17 -->
<h2>Sales and Business Development</h2>
<h3><a href="/teams" title="Back to all teams">&laquo; Back to All Teams</a></h3>

<div class="span-10 first">

    <p>Where there’s energy to be saved and customers to engage, this team will be there to promote OPOWER's innovative products. </p>
    <p>This group of experienced industry veterans works in all 50 states to sell OPOWER’s latest technology, helping utilities becomes more energy efficient. They’re also laying seed internationally and exploring various partnerships that will help increase OPOWER’s effectiveness.</p>
    <p>When it comes time to show our product to utilities and demonstrate how we help drive energy efficiency to the next level, this is the team for the job. The face of OPOWER, the team is based throughout the United States, headquartered in both our DC and SF offices.</p>

</div>

<div class="span-7 last">
    <div class="team-placeholder"></div>

</div>