<!-- this is all inside a span-17 -->
<h2>Sales and Business Development</h2>
<h3>[Tagline]</h3>

<div class="span-10 first">
    <p>Where there’s energy to be saved, and customers to engage, the Client Solutions team will be there to promote OPOWER's innovative products. Working in all 50 states & laying seed internationally, the Client Solutions team sells OPOWER’s latest technology on the road to help solve utility challenges.  The face of OPOWER, this team is based in DC, SF, and throughout the US.</p>
    <div class="all_teams"><a href="/teams">Have you seen our other teams?</a></div>
</div>

<div class="span-7 last">
    <div class="team-placeholder"></div>
    <div class="caption">We are cool.</div>
</div>