<div class="content">
    <h2>Work hard, play hard</h2>
    <h3>The benefits and perks of a career at OPOWER</h3>

    <div class="clearfix">
        <div class="span-10 large-text">
            <p>Our success as a company depends upon getting great people and keeping them happy. So, we take our culture very seriously. We’re committed to maintaining a modern workplace and a highly diverse and satisfied workforce.</p>
        </div>
    
        <div class="span-5 push-1 last gallery">
            <a href="/photos/office-pantry-2.jpg" title="Our fully-stocked pantry" class="fancybox" rel="benefits"><img src="/photos/office-pantry-2.jpg" alt="" /></a>
            <a href="/photos/office-pantry-1.jpg" class="fancybox" rel="benefits"> </a>
            <a href="/photos/office-pantry-3.jpg" class="fancybox" rel="benefits"> </a>
        </div>
    </div>

    <div class="clearfix">
        
        <h4><span class="highlight">Our benefits are first class:</span></h4>
    
        <div class="span-8">
            <ul class="list">
                <li>Medical, Dental, Vision, Life, and Long-Term Disability Insurance, a 401(k) plan, and a range of add-ons (e.g., supplemental life, short-term disability, insurance for spouses/dependents)</li>
                <li>Generous Paid Time Off – 16 days to start, with annual increases</li>            
            </ul>
        </div>
        <div class="span-8 push-1 last">
            <ul class="list">                
                <li>Additional breaks – 8 paid holidays, Parental Leave Program, and paid office closure during the last week of the year</li>
                <li>$100 monthly commuter benefit</li>
            </ul>
        </div>

    </div>

    
    <h4><span class="highlight">But it’s  the perks that make our day-to-day office environment truly "OWESOME":</h4>

    
    <div class="span-8">
        <ul class="list">
            <li>No dress code</li>
            <li>Fully stocked kitchens and coffee bar</li>
            <li>Farm-fresh milk</li>
            <li>Weekly free company lunch</li>
            <li>Monthly happy hours</li>
            <li>Free gym access</li>
            <li>Free weekly massages</li>
        </ul>
    </div>
    
    <div class="span-8 push-1 last">
        <ul class="list">       
            <li>Scooters (for freedom of movement around the big DC office)</li>
            <li>An employee lounge with Wii, ping pong table, bean bag chairs, and more</li>
            <li>Your choice of computer (and if you’re a developer, IDE)</li>
            <li>Employee social groups – OFoodies, Soccer team, Reality TV club...</li>
        </ul>
    </div>

</div>