<div class="content">

    <h2>Opower on Film</h2>
    <h3>Learn a bit more about us through the miracle of moving pictures</h3>

        <ul class="tabs clearfix">
            <li class="<%= data.video == 'life' ? 'active': '' %>"><a href="/films">Life at Opower</a></li>
            <li class="<%= data.video == 'printing' ? 'active': data.video %>"><a href="/films/printing-process">Inside the Printing Process</a></li>
            <li class="<%= data.video == 'obama' ? 'active': '' %>"><a href="/films/obama">Obama Visits Opower</a>
            <li class="<%= data.video == 'hula' ? 'active': '' %>"><a href="/films/hula">Chief Hula Officer</a></li>
        </ul>

        <div class="clearfix" style="margin-top: -5px">
            <% switch(data.video) {
                case 'printing': %>
                    <iframe src="http://player.vimeo.com/video/14673890?byline=0&amp;portrait=0" width="660" height="371" frameborder="0"></iframe>
                    Take a closer look at how our reports are printed and shipped out to millions of customers
                <% break;
                case 'obama': %>
                    <iframe src="http://player.vimeo.com/video/14776453?byline=0&amp;portrait=0" width="679" height="382" frameborder="0"></iframe>
                    On March 5, 2010, President Obama visited the Opower offices to talk about job growth in the United States.
                <% break;
                case 'hula': %>
                    <iframe src="http://player.vimeo.com/video/14507524?byline=0&amp;portrait=0" width="660" height="371" frameborder="0"></iframe>
                    CEO of Opower Dan Yates – and his mustache – gets groovy.
                <% break;
                default: %>
                    <iframe src="http://player.vimeo.com/video/14836485?byline=0&amp;portrait=0" width="660" height="371" frameborder="0"></iframe>
                <%
            }
            %>
        </div>



</div>
