<% /*
    Landing page for mustache advertising
*/ %>

<div class="content">
    
    <h2>Cinco de Mustache</h2>
    <h3>A bona fide OPOWER tradition, now in its third year</h3>
    
    <div class="gallery space-bottom">
        <img src="/photos/mustacheLanding-kolesky.jpg" />
    </div>

    <div class="large-text space-bottom">
        <p>
            Cinco de Mustache was started by a small group of our engineers and is now embraced by the entire company (including staff of all genders, as you can see in the photos below). Here’s how it works: no one shaves for an entire month leading up to Cinco de Mayo. Then, on May 5th, the beards suddenly disappear as people bring their most creative mustaches to work. We’ll let the photos speak for themselves. It’s just one of the things that makes OPOWER, well, OPOWER. 
        </p>
        <p>
            Have a look at our <a href="/engineering-culture">Engineering Culture</a>, our <a href="/benefits">Benefits and Perks</a>, our <a href="/films">Films</a>, and some of the other facets of <a href="/working-here">life at OPOWER</a>. Then have a look through our job listings—and feel free to send us an image of your festive mustache when applying (or don’t—but <a href="/locations">apply anyway</a>!)
        </p>
    </div>
    
    <h3>A sampling of 'staches</h3>
    
    <div class="mustache-gallery">
        <div class="person mustache-yoni">      </div>
        <div class="person mustache-deena">     </div>
        <div class="person mustache-dave">      </div>
        <div class="person mustache-karen">     </div>
        <div class="person mustache-dylan">     </div>
        <div class="person mustache-puja">      </div>
        <div class="person mustache-shyam">     </div>
        <div class="person mustache-annelies">  </div>
        <div class="person mustache-garrett">   </div>
    </div>
    
</div>