<div class="page_image benefits"></div>
<div class="quote">
    <div>"As soon as I came in to interview, I could tell things were different here.  You can tell that people who work here are having fun."</div>
    <div><span class="strong">Sucheta Lakhani</span> &mdash; Program Manager</div>
</div>

<div class="content">
    <div class="strong">Obvious</div>
    <ul>
        <li>Medical, dental, vision, 401k, FSA, company paid life insurance, blah, blah blah
    </ul>

    <div class="strong" style="padding-top: 10px;">Outstanding</div>
    <ul>
        <li>creative, super casual environment (think jeans and working on beanbag chairs)</li>
        <li>$100 monthly commuter benefit for Metro (we&rsquo;re one block away), parking, bike, or walking</li>
        <li>A rich employee referral plan that can earn you up to $10,000 per successful referral</li>
        <li>Tons of free food, company sponsored lunches, and happy hours</li>
        <li>In office Wii, Scooters and Ping Pong</li>
        <li>Your choice of a Mac or PC (and if you&rsquo;re a developer, chooser your own IDE)</li>
        <li>Bi-weekly massages, onsite yoga, onsite gym</li>
        <li>Generous time off policies</li>
    </ul>
</div>