<div class="page_image culture"></div>

<div class="content">
    <p>To come up with <a href="culture.ejs#">our values</a>, we got the whole company involved.
        Our process was: debate, discuss, and repeat.  These values reflect the <a href="culture.ejs#">diversity</a> at
        OPOWER, <a href="culture.ejs#">the top 10 reasons people work here</a>, and, and the <a href="culture.ejs#">benefits</a> we offer.
        And if you want to go a little deeper into our zany culture, read some <a href="culture.ejs#">OPOWER lore</a>. </p>
 
    <div class="span-11">

        <div class="devonly">
            <a href="http://www.heyitsopower.com" class="button">Developers Only</a>
        </div>
        <div class="strong">New Hires</div>
        <img src="/public/css/images/linkedin.png" alt="new hires"/>
    </div>
    <div class="span-9">
        <div class="strong">Life at OPOWER</div>
        <a href="http://www.flickr.com/photos/52490341@N06/sets/72157624597632628/show/"><img src="/public/css/images/flickr.png" alt="flickr"/></a>
    </div>
</div>