<div class="content">

    <h2 class="quote">"People at OPOWER love going out and being active.  DC is a great place for that, whether it's running on Rock Creek Park or a night out in Dupont Circle."</h2>
    <h3>Ran Nussbacher, Director, Client Solutions</h3>

    <div class="large-text space-bottom">
        
        <p>The DC Metro Area offers a wide array of opportunities for OPOWER employees. We come from all over the world and are at all different states of life, so we’re into everything from getting a drink at a craft beer house in the District to spending time at the dog park in Arlington, Va.</p>
                
        <div class="gallery-horizontal space-bottom">
            <a href="/css/theme/photos/dc-uptown.jpg" class="fancybox thumb" rel="dc" title="The Uptown Theater, Cleveland Park"><img src="/css/theme/photos/dc-uptown-t.jpg" /></a>
            <a href="/css/theme/photos/dc-hirshhorn.jpg" class="fancybox thumb" rel="dc" title="The National Portrait Gallery, one of the many art museums in DC"><img src="/css/theme/photos/dc-hirshhorn-t.jpg" /></a>
            <a href="/css/theme/photos/dc-hirshhorn.jpg" class="fancybox thumb" rel="dc" title="Ice skating in the Sculpture Garden"><img src="/css/theme/photos/dc-iceskate-t.jpg" /></a>
            <a href="/css/theme/photos/dc-sunset.jpg" class="fancybox thumb" rel="dc" title="Sunset over the Potomac"><img src="/css/theme/photos/dc-sunset-t.jpg" /></a>
        </div>

        <p>If you’re a young OPOWER employee, there’s a good chance you’ll run into coworkers at DC’s various nightlife events. <a href="http://hirshhorn.si.edu/afterhours/" title="Hirshhorn After Hours">Hirshhorn After Hours</a> – a party at the Smithsonian’s contemporary art gallery – recently drew about 10 percent of OPOWER. And if there’s no organized event like that, you’ll find us attending gallery openings, dancing on U Street or catching a show at one of DC’s small, but renowned concert venues.</p>

        <p>Employees with families trade tips on school districts (the area has 16 of the top 100 high schools in the country) and favorite playgrounds (we’ve got more than 200,000 acres of parkland). At our company picnic, the kids of OPOWER competed in a hula hoop contest (which, embarrassingly, <a href="http://vimeo.com/14507524">Dan almost won</a>).</p>

        <p>Regardless of your status in life, you’ll find something enjoyable in the area and, chances are, you’ll find a coworker to do it with you. We’re outgoing, we’re friendly and we like to have fun. So whether it’s seeing a movie, training for the <a href="http://www.savagemantri.org/" title="Savage Man Triathlon">Savage Man Triathlon</a> or a babysitter recommendation, we’ll be there to help you out. </p>
    
    </div>

</div>

