<div class="content">

    <h2 class="quote">"People at OPOWER love going out and being active.  DC is a great place for that, whether it's running on Rock Creek Park or a night out in Dupont Circle."</h2>
    <h3>Ran Nussbacher, Director, Client Solutions</h3>

    <div class="large-text space-bottom">
        
        <p>
            The DC Metro Area offers a wide array of opportunities. Whether it's enjoying a show at the Kennedy Center, hiking in the District's more than 200,000 acres of parkland or getting a drink at a craft beer house, the area offers activities for everyone. The best part – if you're interested in it, there's a good chance that someone else at OPOWER is interested, too.
        </p>
        <p>
            We've collected some resources below to help you familiarize yourself with D.C. We're sure you'll find something you'll enjoy. But remember, we're friendly, we're outgoing and we like to have fun. So the best way to branch out in D.C. is just to ask us. If you're looking for a soccer game, a high school recommendation or an art gallery, we'll be there to help you out.
        </p>
    
    </div>

</div>

