
/* All tips page
------------------------------ */
/* Tips navigation */
#tips-navigation h3 {
    padding: 0;
}
#tips-navigation ol {
    border-bottom: 1px solid #cdcdcd;
    margin: 10px 0 20px;
    padding-bottom: 10px;
}
#tips-navigation ol li {
    margin-left: -5px;
    padding: 5px;
}
#tips-navigation ol li.active {
    background-color: #fff;
    font-weight: bold;
}

/* Tips body */
#yearly-usage{
    margin-left: -10px;
}
#tips-list {
    clear: both;
    margin: 20px -10px 0 ;
    position: relative;
    width: 760px;
}
#tips-list h4 {
    font-weight: normal;
}
#tips-list .highlight h4 a {
    text-decoration: underline;
}
#tips-list div.smalltip {
    float: left;
    margin: 0 0 30px 0;
    min-height: 70px;
    padding: 5px 10px;
    position: relative;
    width: 360px;
}
#tips-list img {
    float: left;
    margin: 4px 10px 0 0;
}
#tips-list .tip-info {
    float: left;
    width: 280px;
}
ul.tip-controls {
    margin-top: 5px;
}
ul.tip-controls input {
    padding: 2px 0;
    width: auto;
}
ul.tip-controls input.button {
    font-size: 11px;
    font-weight: normal;
    padding: 2px 5px;
}
ul.tip-controls input.selected {
    background: #888;
    border: 1px solid #888;
    cursor: pointer;
    font-size: 11px;
    color: #fff;
    font-size: 1em;
}
ul.tip-controls input.submit-link {
    text-decoration: none;
}
#tips-list ul.tip-controls li,
ul.tip-controls li {
    float: left;
    padding: 0;
    width: auto;
}

.tip-controls .tipaction-alreadyDo  {
    margin: 0 5px 0 10px;
}

ul.tip-controls li.last {
    margin-right: 0;
}
ul.tip-controls li:before {
    content:none;
}
ul.tip-controls li.tipaction-willDo,
ul.tip-controls li.tipaction-willDo input {
    width: 100px !important;

}
ul.tip-controls li.tipaction-alreadyDo input:hover,
ul.tip-controls li.tipaction-noThanks input:hover {
    text-decoration: underline;
}


/* Tooltips */

.tip-blurb .tip-why {
    height: 85px;
}

.tip-blurb .tip-popularity {
    line-height: 20px;
}

/* Tips pagination */
#ideas-pagination li {
    float: left;
    margin-right: 10px;
}
#ideas-pagination li a {
    display: block;
    padding: 3px 8px;
}
#ideas-pagination li.active {
    background-color: #888;
    color: #fff;
    padding: 3px 8px;
}

/* Tips detail page
------------------------------ */
.tip-section {
    padding-bottom: 20px;
    border-bottom: 1px solid #cdcdcd;
    margin-top: 20px;
}
.tip-section p {
    line-height: 15px;
    margin-top: 10px;
}
.tip-details-section strong {
    font-size: 16px;
    color: #888;
}

.module-tips-full .doneCount {
    display: block;
}

.doneCount {
    font-size: 14px;
}

#related-tips ul{
    margin-right: -10px;
}
#related-tips img {
    float: left;
    margin-right: 10px;
}
#related-tips a {
    display: block;
    padding: 10px;
}
#related-tips a span {
    float: left;
    width: 230px;
}
#related-tips li {
    clear: both;
}
#related-tips li.highlight {
    background-color: #fff;
}
#popularity-info .icon {
    margin-top: 0;
}
