<% /*
    A job, used almost anywhere we have a list of jobs
*/ %>
<li>
    <a href="<%= href(job.url.long_url) %>">
        <%= job.title %>

        <% if (locals.show_location) { %>
            <% if (job.location == 'sf') { %>
                (SF)
            <% } else {} %>
        <% } %>
    </a>
</li>
