<% /*
    A job, used almost anywhere we have a list of jobs
    http://localhost:3000/
    http://localhost:3000/engineering
    http://localhost:3000/search/agile

    I don't think we should ever touch this.
*/ %>

<li>
    <a href="<%= href(job.url.long_url) %>">
    <% if (locals.show_location) { %>
        <% if (job.url.location == 'san-francisco') { %>
        <img style="width:16px; height: 16px;" src="/css/icons/sf.png" alt="" />
        <% } else { %>
        <img  style="width:16px; height: 16px;"  src="/css/icons/dc.gif" alt="" />
        <% } } %>        
        <%= job.title %></a>

</li>
