<% /*
    A job, used almost anywhere we have a list of jobs
    http://localhost:3000/
    http://localhost:3000/engineering
    http://localhost:3000/search/agile

    I don't think we should ever touch this.
*/ %>

<li>
    <a href="<%= job.url.long_url %>"><%= job.title %></a><% if (locals.show_location) { %> <span class="location"><%= job.location %></span> <% } %>
</li>
