<li>
    <div class="strong"><%= jobs[0].department %></div>
    <ul>
        <% jobs.forEach(function(job) { %>
        <li>
            <a href="<%= job['url'] %>"><%= job.title %></a>
        </li>
        <% }); %>
    </ul>
</li>
