<div class="span-17 first last">
    <% if (locals.jobs_dc && jobs_dc.length) { %>

        <div class="span-8">
            <h4>DC/Northern VA</h4>
            <ul>
                <%- partial('jobs/job', { collection: jobs_dc, as: "job", locals: { }} ) %>
            </ul>
        </div>    

    <% } %>

    <% if (locals.jobs_sf && jobs_sf.length) { %>
        <div class="span-8 push-1 last">
            <h4>San Francisco, CA</h4>
            <ul>
                <%- partial('jobs/job', { collection: jobs_sf, as: "job", locals: { }} ) %>
            </ul>
        </div>
    <% }  %>
</div>