<% /*
    Search form
    http://localhost:3000/ <- sidebar of every page
    http://localhost:3000/search

    This uses jQuery UI autocomplete.
*/ %>

<form class="search" action="/search" method="post">
    <label for="q"></label><input id="q" value="<%= locals.query ? locals.query : '' %>" placeholder="Find your next job" />
    <input type="submit" class="hide" />
</form>