<% /*
    A team - only used on:
    http://localhost:3000/teams

    There currently are not descriptions stored for each team.
*/ %>

<li>
    <a href="<%= href(indexInCollection) %>"><%= team %></a>
</li>
