<% /*
    A single location.
    /dc-northern-virginia
*/ %>


<div class="content">
    <h2>DC Metro Area</h2>
    <h3>Just outside the city, a block from the Orange Line</h3>

    <div class="gallery clearfix">
        <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=opower&amp;sll=39.076576,-76.714096&amp;sspn=0.045775,0.093813&amp;ie=UTF8&amp;hq=opower&amp;hnear=&amp;ll=38.891229,-77.083482&amp;spn=0.011474,0.023453&amp;z=14&amp;iwloc=A&amp;cid=8263650637642083762&amp;output=embed"></iframe>
    </div>

    <h4>Openings at the OPOWER HQ</h4>
    <div class="span-17 last">
        <%- partial('jobs/team-jobs', { collection: jobs, as: "team", locals: { wide: true}} ) %>
    </div>

    <p>We also have openings in <a href="/san-francisco">San Francisco</a>.</p>
</div>

