<% /*
    A single location.
    /dc-northern-virginia
*/ %>

<div class="content">
    <div class="span-17 last">
        <h3>Washington, DC <a href="/san-francisco">(Interested in San Francisco?)</a></h3>
    </div>

    <div class="span-17 last">
        <%- partial('jobs/team-jobs', { collection: jobs, as: "team", locals: { }} ) %>
    </div>


</div>

