<% /*
    For listing all locations
    http://localhost:3000/locations

    Idea for layout: http://www.facebook.com/careers/
*/ %>

<div class="content">
    <h2>Our Locations</h2>
    <h3>Where would you like to work?</h3>

    <div class="locations clearfix">
        <div class="span-9">
            <a href="/san-francisco" class="button orange-button"><span>Downtown San Francisco</span></a>        
        </div>
        <div class="span-8 last">
            <a href="/dc-northern-virginia" class="button-dc button orange-button float-right"><span>DC Metro Area (HQ)</span></a>
        </div>
    </div>
</div>