<% /*
    For listing all locations
    http://localhost:3000/locations

    Idea for layout: http://www.facebook.com/careers/
*/ %>

<div class="content">
    <h2>Our Locations</h2>
    <h3>Where would you like to work?</h3>


    <ul class="locations clearfix">

        <li>
            <a href="/dc-northern-virginia">
                <span>DC Metro Area</span>
            </a>
        </li>
        <li>
            <a href="/san-francisco">
                <span>Downtown San Francisco</span>
            </a>
        </li>
    </ul>
</div>