<% /*
    A single location. 
    http://localhost:3000/san-francisco
*/ %>

<div class="content">
    <div class="span-17 last">
        <h3>San Francisco <a href="/dc-northern-virginia">(Interested in Washington, DC?)</a></h3>
    </div>

    <div class="span-17 last">
        <%- partial('jobs/jobs', { collection: jobs, as: "jobs", locals: { }} ) %>
    </div>


</div>

