<% /*
    All Jobs
    http://localhost:3000

    Currently also used for search results.

    This file must be the list of all jobs.
    If we want to change the home page to something else tell Dylan and he will make a new ejs.
*/ %>

<div class="content">

    <div class="span-19 first last">
        <h2>All Openings</h2>
        <h3>There's something for everyone.</h3>
        <% if (jobs.locations['dc-northern-virginia']) { %>
            <div class="span-4 first">
                <h3>Northern Virginia</h3>
            </div>
            <div class="span-15 last job-section">
                <%- partial(locals.departments ? 'jobs/department' : 'jobs/jobs', { collection: jobs.locations['dc-northern-virginia'], as: "jobs", locals: { location: 'dc-northern-virgina' }} ) %>
            </div>
        <% } %>

        <% if (jobs.locations['san-francisco']) { %>
            <div class="span-4 first">
                <h3>San Francisco</h3>
            </div>
            <div class="span-15 last job-section">
                <%- partial(locals.departments ? 'jobs/department' : 'jobs/jobs', { collection: jobs.locations['san-francisco'], as: "jobs", locals: { location: 'san-francisco' }} ) %>
            </div>
        <% }  %>
    </div>

</div>

