<div class="content">
    <h2>We work hard, and we play hard</h2>
    <h3>The benefits and perks of a career at OPOWER</h3>
    
    <p>We recognize long term sustainability is predicated on meeting our employees' needs and we embrace that challenge. Our culture is critical to our success and our rich benefits reflect our modern, diverse environment.</p>
    <p>
        In addition to the standard Medical, Dental, Vision, Life Insurance, Long-Term Disability, 401K and other optional insurances (e.g. additional life, short term disability, spouse/dependent insurance); we provide some pretty awesome perks including:        
    </p>
    <ul class="list">
        <li>Super casual environment (think, jeans, sandals, etc. - basically, we’re more concerned with what you produce than what you wear)</li>
        <li>Food, glorious food!  (Stocked, communal kitchen, coffee bar, weekly company lunches and bagel breakfasts, monthly happy hours, and more)</li>
        <li>A company that cares about how you’re doing as much as how you’re performing (free gym access, free bi-weekly massages, free yoga classes, an employee lounge with a Wii, a ping pong table, and more)</li>
        <li>Get Out (Seriously) -  Generous Paid Time-Off Bank starting at 16 days and increases each of your first 4 years here (be sure to email us some photos!)</li>
        <li>Office closed the last week of the year (in addition to your PTO)</li>
        <li>8 paid holidays (7 set, 1 employee choice – oh yeah, all in addition to your PTO)</li>
        <li>$100 monthly commuter benefit (employee choice: parking, metro, bicycle, walking.  We’re one block from the metro.)</li>
        <li>Employee Referral Award Program up to $10,000!</li>
        <li>Choose your weapon: Mac or PC (and if you’re a developer choose your own IDE)</li>
        <li>Congratulations, you’re a Parent! - Parental Leave Program</li>
        <li>We know social networking - Variety of employee created social groups: e.g. OFoodies, Soccer Team, Reality TV group (feel free to start one of your own!)</li>
        <li>A great environment that encourages employees to be creative and voice their opinions</li>
    </ul>
    
</div>