<div class="content">
    <h2>All Departments</h2>
    <ul class="departments">
        <%- partial('jobs/department', { collection: all_departments, as: "department", locals: {} } ) %>
    </ul>
</div>