<% /*
    For individual department pages
    http://localhost:3000/engineering
*/ %>

<div class="content page-department">

    <% /* department header */ %>
    <div class="span-17 first last">
        <%- partial('departments/' + header + '.ejs', { locals: { department: department, department_name: all_departments[department] } }) %>
    </div>

    <div class="clear" style="padding-top:40px;"></div>

    <%- partial('jobs/jobs-grouped-by-location.ejs', {  locals: {jobs_dc: jobs_dc, jobs_sf: jobs_sf }} ) %>

</div>

