<% /*
    Hot openings
    http://localhost:3000/hot
*/ %>

<div class="content">
    <h2>Hot Positions</h2>
    <h3>These go to 11</h3>
</div>

<div class="content">

    <div class="span-17 first last">
        <ul>
            <%- partial('jobs/jobid', { collection: all_critical, as: "jobId", locals: {show_location: true } } ) %>
        </ul>
    </div>
</div>