<div class="content">


    <div class="span-11">
        <% if (jobs.locations['san-francisco']) { %>
        <div class="strong">San Francisco</div>
        <ul>
            <%- partial(locals.departments ? 'jobs/department' : 'jobs/jobs', { collection: jobs.locations['san-francisco'], as: "jobs", locals: { location: 'san-francisco' }} ) %>
        </ul>
        <% } else { %>
            &nbsp;
        <% }  %>


    </div>

    <div class="span-11">
        <% if (jobs.locations['dc-northern-virgina']) { %>
        <div class="strong">Northern Virgina</div>
        <ul>
            <%- partial(locals.departments ? 'jobs/department' : 'jobs/jobs', { collection: jobs.locations['dc-northern-virgina'], as: "jobs", locals: { location: 'dc-northern-virgina' }} ) %>
        </ul>
        <% } %>
    </div>
</div>

