<% /*
    A job, used almost anywhere we have a list of jobs
*/ %>
<li>
    <a href="<%= job.urls ? href(job.urls.full_url) : '' %>">
        <%= job.title + (job.urls ? '' : "!!!!!!!!!") %>

        <% if (locals.show_location) { %>
            <% if (job.location_id == Constants.LOCATIONS.sf.id) { %>
                (SF)
            <% } else {} %>
        <% } %>
    </a>
</li>
