<% /*
    A job, used almost anywhere we have a list of jobs
*/ %>
<li>
    <a href="<%= job.urls ? href(job.urls.full_url) : '' %>">
        <%= job.title %>
        <% if (locals.show_location) { %>
            <span class="location">
                <%= job.location %>
            </span>
        <% } %>
    </a>
</li>
