<% /*
    A single location.
    http://localhost:3000/dc-northern-virginia
*/ %>

<div class="content">
    <div class="span-19 first last">
        <div class="span-7 first">
            <%- partial('jobs/icons/dc-northern-virginia') %>
        </div>
        <div class="span-9 last job-section">
            <h3>San Francisco</h3>
            <a href="/san-francisco">We also have openings in downtown SF.</a>
        </div>
    </div>

    <div class="span-19 first last">
        <%- partial('jobs/jobs', { collection: jobs, as: "jobs", locals: { }} ) %>
    </div>


</div>

