<% /*
    List of locations.  Currently does not have the ability to show jobs or departments.
    http://localhost:3000/locations
*/ %>


<div class="content">
<h2>Locations</h2>
    <div class="span-7 first">
        <a href="/san-francisco">
            <%- partial('jobs/icons/san-francisco') %>
        </a>
        <div class="strong">San Francisco, California</div>
        <ul>
            <li>One block from the ???.</li>
            <li>Trendy office.</li>
            <li>Lots of conference rooms.</li>
            <li>Those things that people in SF like.</li>
        </ul>
        <a href="/san-francisco">All SF Openings</a>

    </div>


    <div class="span-10 last">
        <a href="/dc-northern-virgina">
            <%- partial('jobs/icons/dc-northern-virgina') %>
        </a>
        <div class="strong">Arlington, Virgina</div>
        <ul>
            <li>Corporate Headquarters.  This is where the action is at.</li>
            <li>One block from the Court House Metro on the Orange line.</li>
            <li>Most employees live in DC, including both founders.</li>
            <li>Plenty of parking for cars and bikes.</li>
        </ul>
        <a href="/dc-northern-virgina">All DC Openings</a>

    </div>
</div>
