<% /*
    A single location.  To make themeing easier I will probably break this into separate DC and SF pages.
    http://localhost:3000/dc-northern-virgina
    http://localhost:3000/san-francisco
*/ %>

<div class="content">
    <div class="span-19 first last">
        <div class="span-7 first">
            <%- partial('jobs/icons/' + location) %>
        </div>
        <div class="span-9 last job-section">
            <h3><%- all_locations[location] %></h3>
            <a href="/locations">We also have openings in other locations as well.</a>
        </div>
    </div>

    <div class="span-19 first last">
        <%- partial('jobs/jobs', { collection: jobs.locations[location], as: "jobs", locals: { }} ) %>
    </div>


</div>

