<% /*
    Search page.  Not used for search results yet.  I'll get to it damnit.
    http://localhost:3000/search
*/ %>

<div class="content">
    <h2>Search</h2>
</div>
<div class="search" style="background: #67d134; padding: 40px; margin-bottom: 20px;">
<%- partial('jobs/search', { locals: locals } ) %>
</div>

<div class="content">

    <div class="span-17 first last">

        <% if (jobs.length) { %>
        <ul>
            <%- partial('jobs/job', { collection: jobs, as: "job", locals: {show_location: true } } ) %>
        </ul>
        <% } else { %>
            No matches.  This only searches job titles.  Maybe you should just check out <a href="/all">all current openings</a>.
        <% } %>
    </div>
</div>