<% /*
    A department - only used on:
    http://localhost:3000/teams

    There currently are not descriptions stored for each department.
*/ %>

<li>WHERE AM I USED?
    <a href="<%= href(indexInCollection) %>"><%= department %></a>
</li>
