<% /*
    List of Jobs grouped by team.
    http://localhost:3000/dc-northern-virgina
*/ %>

<div class="span-<%= locals.wide ? 7 : 3 %> first">
    <div class="strong" style="line-height: 1.3em; padding-bottom: 20px;"><%= team.name %></div>
</div>

<div class="span-10 last">
    <ul>
       <%- partial('job', { collection: team.jobs, as: 'job'} ) %>
    </ul>
</div>

 <div class="clear" style="margin-bottom: 20px;"></div>