<% /*
    For listing all teams
    http://localhost:3000/teams

    Idea for layout: http://www.facebook.com/careers/
*/ %>

<div class="content">
    <h2>All Teams</h2>
    <h3>There something for everyone.</h3>
    <ul class="teams">
        <%- partial('jobs/team', { collection: all_teams, as: "department", locals: {} } ) %>
    </ul>

    <ul>
        <li>
            <a href="/all">All openings</a>
        </li>
        <li>
            <a href="/hot">Hot openings</a>
        </li>
        <li>
            <a href="/new">Newest openings</a>
        </li>
    </ul>
</div>