<% /*
    For individual team pages
    http://localhost:3000/engineering
*/ %>

<div class="content page-team">
    <% /* team header */ %>
    <div class="span-17 first last">
        <%- partial('teams/' + header + '.ejs', { locals: { team: team, team_name: all_teams[team] } }) %>
    </div>

    <div class="clear" style="padding-top:40px;"></div>

    <%- partial('jobs/jobs-grouped-by-location.ejs', {  locals: {jobs_dc: jobs_dc, jobs_sf: jobs_sf }} ) %>

</div>

