<% /*
    Navigation parent items.
    The logic for current/active page needs to be re-written.
*/ %>

<% if (!page.noMenu) { %>
<li class="nav">
    <a href="/<%= page.url %>" class="<%= page.id == currentPageID ? "active" : "" %>"><%= page.label %></a>
    <% if (page.children) { %>
    <ul class="subnavigation">
        <%- partial("navigation/subnav", { collection: page.children, as: "page", locals: { currentPageID: currentPageID }} ) %>
    </ul>
    <% } %>
</li>
<% } %>


<br /><br /><br />
