<li class="subnav strong">
    <a href="/<%= page.url %>" class="rounded <%= (locals.current_page && locals.current_page.url == page.url) || (locals.active == 'jobs' && page.url == '') ? "active" : "" %>"><%= page.label %></a>
</li>
