<h3>Client Services & Operations</h3>

<p>A short paragraph about this department.</p>

<a href="/department/client-services-operations">See all Client Services & Operations jobs</a>
<div class="clear"></div>

<div class="first span-7">
    <h4>What you can do</h4>
    <ul>
        <li>Skill 1</li>
        <li>Skill 2</li>
        <li>Skill 3</li>
        <li>Etc</li>
    </ul>
</div>
<div class="span-7 last">
    <p>A simple diagram, screenshot, or photo.</p>
</div>
<div class="clear"></div>
        