<h3>Engineering</h3>

<p>A short paragraph about this department.</p>

<a href="/jobs/departments/engineering">See all Client Services & Operations jobs</a>
<div class="clear"></div>

<div class="first span-7">
    <h4>What you can do</h4>
    <ul>
        <li>Java</li>
        <li>Typing</li>
        <li>Halo</li>
    </ul>
</div>
<div class="span-7 last">
    <p>A simple diagram, screenshot, or photo.</p>
</div>
<div class="clear"></div>